[2016-10-31 18:29] o4u opened #1 "Separate CrmWebApi version with Callbacks?"
Question to a community:
Is CrmWebApi version with Callbacks needed?

If yes, would someone like it to be written using a plain XmlHttpRequest? Or a use of one of the following Ajax library preferred: jQuery or Superagent?

[2017-02-10 06:08] o4u commented on #1
DynamicsWebApi.jQuery added to the project (it works with callbacks).

[2017-02-10 06:08] #1 closed

[2017-04-06 04:53] roymap opened #2 "How to authentication with OAUTH?"
As per described here; https://msdn.microsoft.com/en-ca/library/gg327838.aspx

[2017-04-06 05:04] AleksandrRogov commented on #2
Hi,
This functionality is not available yet. I'm currently working on it.
Thanks

[2017-04-08 05:42] AleksandrRogov commented on #2
Hi Roy,
I've released a new version of DynamicsWebApi where I added a support of OAuth tokens. Please check an updated [readme](https://github.com/AleksandrRogov/DynamicsWebApi#dynamicswebapi-for-nodejs) for more information and examples.
I hope it will solve your problem.

Thank you

[2017-04-08 05:42] #2 closed

[2017-04-09 06:24] AleksandrRogov opened #3 "Combination of multiple Prefer header values"
Next release will have a significant change in the functionality which related to an ability to combine different Prefer values in the request header.

This feature has been noticed by me very late, so I will have to deprecate some existing DynamicsWebApi functionality. This functionality will still be available in the next release but can be removed in one of the future ones. Please follow the up

[2017-04-12 06:46] #3 closed

[2017-04-12 06:48] AleksandrRogov commented on #3
Combinational Prefer header values feature implemented in v1.2.2.

[2017-05-11 05:12] aliirz opened #4 "Unexpected error"
Hello

I am trying to run the basic example but i keep getting an unexpected error:

[code]

Here is my code.. My client id and creds are correct because i tested by following the tutorial in this blog post:

http://alexanderdevelopment.net/post/2016/11/23/dynamics-365-and-node-js-integration-using-the-web-api/

Here is my code:
[code]

Please help. This package really looks promising and would lo

[2017-05-12 13:43] AleksandrRogov commented on #4
Hi aliirz,

As I can see from the error stack it is calling http package instead of https, and an example that you send calls organization by https, can you please check what your url is? And as I can understand you are getting this error when there is a call to `executeUnboundFunction`, is that correct?

[2017-05-13 17:25] AleksandrRogov commented on #4
Hi aliirz,

I've released a patch for DynamicsWebApi v.1.2.3.

Can you please try it and see if it works for you now?

[2017-05-16 13:02] #4 closed

[2017-06-12 11:26] con-ssc opened #5 "On-Premise Solution?"
Okay, you have an example on how to authenticate against an online org and with an app in azure. How would you send a simple call to an on-premise org that needs authentication as well, with adfs/ifd ?

[2017-06-12 15:01] AleksandrRogov commented on #5
Hi con-ssc,
Thank you for your question.

According to [MSDN](https://msdn.microsoft.com/en-us/library/mt595798.aspx), you **must** use OAuth.

So, you will need to [add OAuth support](https://technet.microsoft.com/en-us/library/hh699726.aspx#BKMK_WS2012R2) in your AD FS/IFD environment. After that, you can use the same sample code to connect to D365 Web API.

[2017-06-13 07:22] con-ssc commented on #5
Ah okay, so it is impossible if you don't have access to the internet?

[2017-06-13 13:13] AleksandrRogov commented on #5
Why does not it have a connection to the Internet? What's the reason to have IFD then?

Anyways, I believe you still can configure OAuth to be available inside a company network, but then I do not see the reason to use IFD.

[2017-06-13 13:49] con-ssc commented on #5
For access from outside of CRM, like lets say an app for data entry or other systems like ERP or something.

[2017-06-13 14:48] AleksandrRogov commented on #5
Ok, makes sense. MSDN explicitly states that you must use OAuth when you have IFD set up.

But it's actually interesting how Node.js app can connect to Web API just using network credentials and if it's possible to do that when you have IFD. Unfortunately, I do not have access to such environment at this moment, so it may take a while when I have a complete code example. So, I would recommend you

[2017-06-14 07:13] con-ssc commented on #5
This would be an example for get with ntlm.

[code]

[2017-06-23 07:08] jmorton25 opened #6 "Recursive Call for Retrieve Multiple All"
Couldn't find any way to contact you other than to log an issue. Really appreciate all of the work you've put into this library. I wanted to pass along a recursive method wrapper for retrieveMultipleAll that I wrote using your retrieveMultiple call as I see you have this on the roadmap. Hope it helps.

[code]

[2017-06-23 13:31] AleksandrRogov commented on #6
Thank you! I will surely take a look.

[2017-06-23 13:31] #6 closed

[2017-07-08 21:38] AleksandrRogov commented on #6
Hi @jmorton25 ,
I added recursive functions for retrieveMutliple and executeFetchXml (and also for count) in a new version (v.1.2.5).
Thanks for your help.

[2017-07-10 04:44] MSCRMGuru opened #7 "WebResource in Dynamics 365"
Hi,

I'm trying to use the file as a WebResource in Dynamics 365.  I keep getting an error saying  DynamicsWebApi is not defined when trying to create one (var x = new DynamicsWebApi();).  It's been added to the form as a library.

Tried to use require.js and head,js to load it but got the same result...

I wasn't sure which file in the dist folder is the correct one so I tried with all of them wi

[2017-07-10 16:23] AleksandrRogov commented on #7
Hi @MSCRMGuru ,
First of all, you need to look at [dist](../tree/master/dist) folder in the repository.

Secondly, you need to choose if you wish to use **Promise** or **Callbacks** based library: **dynamics-web-api.js** is a Promise based library and **dynamics-web-api-callbacks.js** is a Callbacks based library. If you choose Promise based library I would recommend adding **ES6-Promise** or **Ya

[2017-07-10 22:54] MSCRMGuru commented on #7
Hi,

Thanks for the response.

I used the callback file from the dist folder as suggested.  Added it to the account form as well as a custom script with a trigger on Load with just "debugger;" so I can enter debug mode.

I validated the dynamics-web-api has loaded, but when I try to instnasite, I get an error:
![image](https://user-images.githubusercontent.com/7478485/28043552-c2ea20a0-6615-11e7-8

[2017-07-11 02:30] AleksandrRogov commented on #7
Hi @MSCRMGuru ,
It is not accessible through a browser console. You should add another web resource to the form where you add your code that uses DynamicsWebApi object. I'd also suggest initializing it during onload event of the form.

[2017-07-11 03:36] MSCRMGuru commented on #7
Just to clarify, I do have my own separate JavaScript webresource with an event hooked to Form Load.  In there is where I try to create a new DynamicsWebApi.

this is a trial of instance of Dynamics 365 I thought maybe they did something to how the form scripts are loaded again.  I just tried connecting it to an OnChange event on the form and I get the same result.

This is the row it's failing on

[2017-07-11 05:15] AleksandrRogov commented on #7
So, it does not work when you add that line to OnLoad event or to OnChange event?
Do you load the library before that scripts, right?

I cannot get it why it's not working on your side. Feels like the web resource is just not loading...
Did you publish all customizations?

[2017-07-11 05:18] AleksandrRogov commented on #7
can you try to empty dynamicsWebApi web resource and put there these simple lines?
[code]

And just to try to create an object, will that work? If not, then something wrong with web resource loading.

[2017-07-12 05:00] MSCRMGuru commented on #7
Hey,

I made the change as you suggested and it seems to be working:

![image](https://user-images.githubusercontent.com/7478485/28102196-20d7c0ae-6711-11e7-91a7-4675490c8c2d.png)

![image](https://user-images.githubusercontent.com/7478485/28102200-294b0764-6711-11e7-8060-97214fcc351a.png)

and with adding ```x.test()``` to my Test function I also get this:
![image](https://user-images.githubuserc

[2017-07-12 18:09] AleksandrRogov commented on #7
HI @MSCRMGuru ,
Hm... that's weird.

How do you upload web resources? Are you using Visual Studio or CRM UI?
If CRM UI, try to use "Choose file" option when a JavaScript web resource type chosen. It's recommended to use this option instead of a copy-paste directly in the editor.
![2017-07-12_14-02-49](https://user-images.githubusercontent.com/1893650/28132566-3911ecae-670b-11e7-8542-de0458a5dea0.p

[2017-07-13 00:30] MSCRMGuru commented on #7
Hey,

i'm using the XrmToolbox WebResource Manager to upload the script, which i'm copying directly from the GitHub "View Raw" page for the callbacks javascript...

I'll give it a try today with other CRM organisations\versions and see what I come up with.

I'll provide an update later on.

Thanks again for your help!

[2017-07-13 01:54] MSCRMGuru commented on #7
I don't know why or how, but it suddenly started working for me.  I thought id give it one more test before trying a different framework, and it started working...  Same org, same browser, same everything.  Only thing that was done this mornign was an update of sitemap and republish of all customistions.  This was also done yesterday when this wasn't working....

Not sure if its Dynamics 365 being

[2017-07-13 04:06] AleksandrRogov commented on #7
I'm glad it's working!

[2017-07-13 05:55] MSCRMGuru commented on #7
I found the issue!!

It started happening again a few minutes after I started including my code and it nearly drove me nuts...

I was using Edge to test (since I had other Office 365 session in all my other browsers), and it actually provided a helpful message: [Mismatched Anonymous Define()...](http://requirejs.org/docs/errors.html#mismatch).

I had a look and found this [stackoverflow](https://s

[2017-07-13 15:35] AleksandrRogov commented on #7
Interesting, I will check that behaviour. Why not load DynamicsWebApi first for now?

Thanks

[2017-07-13 16:58] #7 closed

[2017-07-13 17:23] AleksandrRogov commented on #7
Hi @MSCRMGuru ,
An issue was in a webpack configuration file that bundles Node.js library into one file to support a browser. I needed to set a parameter that names an AMD module instead of using an undefined name. Hopefully,  it's going to work fine together with require.js now.

Thank you to your investigation and help!

[2017-07-15 05:26] MSCRMGuru commented on #7
Hey Alex,

Thanks for your incredible responsiveness in helping look into the issue and resolving it.

I haven't tested this yet and hope to get it tested in the next few days.  I will let you know if I come across any other issues!

Thanks!

[2017-07-19 15:01] sebastiensapet opened #8 "Synchronous request"
Hello,

How can I use your library if I want to make synchronous request ? Because I think all requests are asynchrounous.

Thanks,
Sebastien

[2017-07-19 22:03] AleksandrRogov commented on #8
Hi @sebastiensapet ,
It's fully asynchronous, no synchronous requests are supported in a current version.

Thanks

[2017-07-20 06:10] sebastiensapet commented on #8
Ok, thanks for your reply.

Regards,
Sebastien
Le 20 juil. 2017, à 00:03, Aleksandr Rogov <notifications@github.com<mailto:notifications@github.com>> a écrit:

Hi @sebastiensapet<https://github.com/sebastiensapet> ,
It's fully asynchronous, no synchronous requests are supported in a current version.

Thanks

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-07-20 14:45] #8 closed

[2017-07-28 14:58] rizkysyazuli opened #9 "How to run code sample for Node version"
Hi, this is my first time interacting any of this. So please consider me as a total noob.

I'm building a website for a client that requires the use of Dynamics CRM as the backend for the membership system. And they refer me to this library.

I'm trying out the `adal-node` code example in your README. But it gives me a timeout error.

I saved the example code to a `start.js`.
Udated the config wit

[2017-07-28 15:41] AleksandrRogov commented on #9
Hi @rizkysyazuli ,
Please check the endpoint if it's specified correctly. And if you wish to authenticate users seamlessly you must add a Redirect URI: "urn:ietf:wg:oauth:2.0:oob" to your app registered in Azure.

I hope this helps

[2017-07-29 07:43] rizkysyazuli commented on #9
@AleksandrRogov which endpoint? honestly, i'm not really sure with what i'm doing here. i don't have direct access to Azure or any of the platform. they only gave me a spreadsheet with a bunch of parameters and list of API endpoints.

btw, they already have a `redirect_uri` param in that spreadsheet. should i use it somewhere in the script? or should i just ask them to add `urn:ietf:wg:oauth:2.0:o

[2017-07-29 08:59] AleksandrRogov commented on #9
@rizkysyazuli well... that's complicated then. it depends what app you need to build. and yes, this question is more to adal-node developers.

[2017-07-29 09:00] #9 closed

[2017-07-29 10:55] rizkysyazuli commented on #9
@AleksandrRogov understood. i'll ask around there. thx anyway for your time. 👍

[2017-08-03 19:36] rizkysyazuli commented on #9
@AleksandrRogov i'm back :) so I made a tiny progress. turns out the script must be run from a server with a whitelisted IP.

but now i got this error.

[code]

[2017-08-04 01:58] AleksandrRogov commented on #9
Hi @rizkysyazuli ,
I guess, that means that something is wrong with the url you are trying to call. It's not reachable from the machine where you're running your application.

[2017-09-07 12:56] maheshghori opened #11 "Facing issue with Dynamics 365 online"
Hello AleksandrRogov,

Thanks for the library. This is indeed very useful. But after adding "dynamics-web-api" as a web resource to entity form and when I try initializing class object var dynamicsWebApi = new DynamicsWebApi(); like this, I am getting error that DynamicsWebApi is not found. Am I missing anything over here ? Your feedback will be really helpful.

Thanks,
Mahesh G

[2017-09-07 15:00] AleksandrRogov commented on #11
Hi @maheshghori,
Where do you call an initialization: in a global scope or inside the function (local scope)? It's better not to initialize objects in a global scope in Dynamics 365.

Thanks

[2017-09-08 06:58] maheshghori commented on #11
Hi @AleksandrRogov thanks for the quick response. Yes I was initializing it in a global scope. After I moved it to particular method call it works like a charm.

Thanks again 👍

[2017-09-08 09:25] #11 closed

[2017-09-18 18:18] whyvez opened #12 "Fetching CSDL metadata document"
Is there any way to fetch the CSDL metadata document using this library? Is there any way to send a raw http request instead of using the API's defined in the readme?

[2017-09-18 20:32] AleksandrRogov commented on #12
Hi @whyvez ,
Unfortunately, it's not possible at this moment.

Do you think it's a good idea to add a function that can be used to send a raw http request to Web API? If yes, I can try to implement it asap, I guess you need to have an access to request headers, a request url and a request body. Let me know if you need to set anything else.

Thank you.

[2017-09-18 21:04] whyvez commented on #12
@AleksandrRogov I can send you a PR if you want... Would be glad to help as we will be using your this module in a project of ours.

[2017-09-18 23:34] AleksandrRogov commented on #12
Hi @whyvez ,
Sure! I appreciate your help.

[2017-10-29 13:23] estpla opened #13 "Parse response error"
Hi,

I get an JS error when I try the next code:

[code]

[code]

As a workaround I have changed line 33 of parseResponse.js, from:

[code]

To:

[code]

Hope it helps!

PD: Seems that the error comes because there are accounts without email and calling ".constructor" of if.

[2017-10-30 00:13] AleksandrRogov commented on #13
Thank you so much @estpla. I will apply your fix in the next patch release!

[2017-10-30 00:19] #13 closed

[2017-11-14 11:34] YsoL8 commented on #5
Just to note for anyone finding this
`process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`

Is extremely unsafe as it effectively disables SSL and leaves you and your users open to man in the middle attacks. It should never be used in production.

[2017-11-18 08:16] killi3000 opened #14 "Requesting / posting using alternate keys"
Is there a way to make requests using alternate keys?

http://www.oak3.org/crm/using-alternate-keys-webapi/

[2017-11-18 16:49] AleksandrRogov commented on #14
Hi @killi3000 ,
At this moment, there is no such functionality. I will work on adding it as soon as possible.

Thank you for letting me know about this missing feature.

[2017-11-18 17:08] killi3000 commented on #14
Thank you! Looking forward to get this function also

Mvh
Henrik Killi

18. nov. 2017 5:49 p.m. skrev "Aleksandr Rogov" <notifications@github.com>:

[2017-11-18 21:28] AleksandrRogov commented on #14
Hi Henrik,

I've just release a new version, where I add this feature. Please refer to readme or check the following examples:

Simple request:
[code]

Advanced request:

[code]

You can use `key` as a primary key (instead of `id`).

Please let me know if you encounter any issue with it.

Best Regards,

[2017-11-18 21:28] #14 closed

[2017-11-19 10:26] killi3000 commented on #14
Awesome! Thank you:)

[2017-11-21 20:47] geerzo opened #15 ""Xrm Context is not available" when used in Web Resource"
When I tried to use the library in a web resource I got the "Xrm Context is not available" error every time. This was due to how the context is being grabbed from the dynamics-web-api.js file as it's looking for Xrm.Page directly instead of grabbing it from parent.Xrm.Page which is required in web resources. I fixed it with this minor change...
[code]
I can submit a PR if that helps but wanted to

[2017-11-22 05:52] AleksandrRogov commented on #15
Hi @geerzo ,
Where do you use your web resource, I believe it's not on the form. Is it on html page? Accessing parent window is not supported in CRM, that's why I did not add it to my library.

Please take a look at this [article](https://msdn.microsoft.com/en-us/library/gg328541.aspx#BKMK_GetGlobalContext), it describes how to get a Client-Side context outside of the form. So, if you add a refere

[2017-11-22 05:52] #15 closed

[2017-11-28 11:19] killi3000 opened #17 "Create record with lookup field"
Is there a way to create a record with a lookup field? Something like:

//initialize a CRM entity record object
var lead = {
    _regardingobjectid_value: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    subject: "Test WebAPI",
    firstname: "Test",
    lastname: "WebAPI",
    jobtitle: "Title"
};
//call dynamicsWebApi.create function
dynamicsWebApi.create(lead, "leads").then(function (id) {
    //do

[2017-11-28 14:57] AleksandrRogov commented on #17
Hi @killi3000 ,
In Web Api all "lookup" fields are read only, including `_regardingobjectid_value`. You need to use a navigation property to associate entities. Please check this [link](https://msdn.microsoft.com/en-us/library/gg328090.aspx#Associate%20entities%20on%20create) or [this link](http://www.inogic.com/blog/2016/02/set-values-of-all-data-types-using-web-api-in-dynamics-crm/).

[2017-11-28 20:52] killi3000 commented on #17
Thank you for your reply. Using the format above gives me this error message:

"Invalid URI: The hostname could not be parsed"

[2017-11-28 22:01] AleksandrRogov commented on #17
Where are you using DynamicsWebApi (in CRM or in Node.js app)?

[2017-11-28 22:03] killi3000 commented on #17
In node.js app

[2017-11-28 22:07] AleksandrRogov commented on #17
Are you providing `webApiUrl` during initialization?
[code]

[2017-11-28 22:17] killi3000 commented on #17
No. I tried this now, but this gave my a new error:

Error: connect ECONNREFUSED 127.0.0.1:443
at Object._errnoException (util.js:1024:11)
at _exceptionWithHostPort (util.js:1046:20)
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1182:14)

[2017-11-28 22:19] AleksandrRogov commented on #17
You need to acquire a token first.
Please follow this [example](https://github.com/AleksandrRogov/DynamicsWebApi#dynamicswebapi-for-nodejs).

[2017-11-28 22:26] killi3000 commented on #17
Ok. I will look into it tomorrow morning. Thanks for your help!

[2017-11-28 23:19] #17 closed

[2017-11-29 07:10] killi3000 commented on #17
I was a bit tired last evening, so I didn't think about it, but I was already providing the `WebApiUrl` and acquire a token. The code works fine if I delete the `'regardingobjectid_account@odata.bind': "/accounts(xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)",`

Does it matter that the entity I am trying to create is an activity?

[2017-11-29 08:23] killi3000 commented on #17
I figured it out! I had an `/` at the end of my `WebApiUrl`. This was causing the `Invalid URI` error. I removed the `/` from `'regardingobjectid_account@odata.bind': "/accounts(xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)"`

And now it works:)

[2017-11-29 16:12] AleksandrRogov commented on #17
I am glad it's working for you and thanks for letting me know about that slash, I need to fix it.

[2017-12-01 11:12] killi3000 opened #18 "Issue with statecode"
Is there an issue with updating `statecode` on activities? I am trying to set `statecode: 1`, but I cannot update the field. I am not getting an error, but the activity doesn't change in Dynamics.

[2017-12-01 11:49] danielejdm opened #19 "Possible bug in function 'populateFormattedValues(object)'"
Hi Alexandr.

I was retrieving multiple records of a custom entity with the version which uses Callbacks.

My code is like the following:
var dynamicsWebApi = new DynamicsWebApi({ webApiVersion: '8.2' });

var filter = 'new_myfield eq <a_value>';

var select = ['new_field_1', 'new_field_2', 'new_field_3', 'new_field_2'];

dynamicsWebApi.retrieveMultiple('new_myentity', function (result) {
	//My Lo

[2017-12-01 15:10] AleksandrRogov commented on #19
Hi @danielejdm ,
Thank you for submitting this issue I will take a look at the problem asap.

[2017-12-01 15:56] AleksandrRogov commented on #19
What version are you using? I see that it has been fixed in v.1.3.1. #13

[2017-12-01 15:56] #19 closed

[2017-12-01 16:14] AleksandrRogov commented on #18
Hi @killi3000 ,
What activity type are you trying to update? (emails, tasks, etc...)

[2017-12-01 16:19] killi3000 commented on #18
it's a custom activity entity...

[2017-12-01 16:59] danielejdm commented on #19
Hi Alexandr.

Many thanks for your quick answer and opening an already closed issue.

I was convinced to use the last version, but it seems not, therefore Monday I’ll go to download the last one.

Again good job!

Daniele Davi
‭‭+49 152 02197349‬‬

[2017-12-02 01:20] AleksandrRogov commented on #18
Hi @killi3000 ,
Sorry for a delay with a reply. I tried to create my custom activity and update it using my library and it worked normally for both methods:

[code]

[code]

[2017-12-02 08:40] killi3000 commented on #18
I see. I tried doing this on `dynamicsWebApi.create`, and that doesn't seem to work. I don't know Microsoft's API allows setting the `statecode` on create, but if they do it would be a nice feature to have. Otherwise I will just create a workaround.

[2017-12-02 17:57] AleksandrRogov commented on #18
Hi @killi3000 ,
Yes, `statecode` is not valid for create operation and it does not depend on what endpoint you're using: Web Api or OrganizationService. Check [this table](https://msdn.microsoft.com/en-us/library/gg334225.aspx#attribute) (search by "statecode") it says that it is not valid for create.

I thought that you're trying to update the record. Also, note, that it's better also to set a `s

[2017-12-02 17:57] #18 closed

[2018-01-25 15:08] dhepper commented on #12
Hi, I'm also trying to fetch some metadata and I think sending a raw request would be the easiest way. May I ask if anyone of you has worked on this? Otherwise I will give it a shot.

[2018-01-25 15:37] AleksandrRogov commented on #12
Hi @dhepper ,
I have not worked on it. If you can help us to do that it would be great. And let me know if you have any issue with the code.
Thanks

[2018-01-25 21:43] dhepper commented on #12
Thanks for the quick reply @AleksandrRogov. I'll send a PR once I have something working. I think I'll get to it next week.

[2018-02-26 23:14] chuckokerstrom opened #21 "How to abort chained .then() functions"
What technique would I use to abort a chain of .then() statements?

I can  use the javascript try/catch/throw, but was looking for something intrinsic to the Promise spec.  Are there other options available?

Chuck

[2018-02-27 14:21] AleksandrRogov commented on #21
Hi @chuckokerstrom ,
There are many discussions on the internet about it, it would be better if you check this one: [https://stackoverflow.com/questions/29478751/how-to-cancel-an-emcascript6-vanilla-javascript-promise-chain](https://stackoverflow.com/questions/29478751/how-to-cancel-an-emcascript6-vanilla-javascript-promise-chain).

[2018-02-27 14:21] #21 closed

[2018-03-01 13:51] chuckokerstrom commented on #21
Thanks for the response.  I ended up encapsulating your library's api
calls with jquery's promise implementation and that seems to be working
very well.  So in essence I'm using your .then() operations within the
specific methods and jquery's to chain together sets of methods and
provide the overall control and ability to bail out as needed.

Also wanted to pass on my appreciation for your api lib

[2018-03-01 18:58] AleksandrRogov commented on #21
Hi @chuckokerstrom ,
I am glad you figured it out and thank you for your kind words they mean a lot to me.

[2018-03-05 15:27] Don-L opened #22 "Email addresses with '+' tags"
Hello, loving the library - thanks very much for this!

I've come across a potential issue with the encoding of email addresses which contain a  '+', e.g. email+alias@email.com. Submitting a query with such an address in the filter argument of retrieveMultiple for example doesn't return any matches for me, even where a matching entity is known to exist in my Dynamics instance.

Making a change to

[2018-03-05 16:05] AleksandrRogov commented on #22
Hi @Don-L ,
I will take a look at it asap. Thank you for submitting this issue.

[2018-03-06 09:48] CallumHogg commented on #22
Maybe we can use encoreURIComponent on each item in convertRequestOptions and then remove the overall encodeURI around the query in convertRequest?

The problem with using encodeURIComponent and then encodeURI is it will replace the escaped characters with more escaped characters e.g. `test+email@example.com` would get converted to `test%2bemail@example.com` which is right but then when encodeURI

[2018-03-06 16:17] AleksandrRogov commented on #22
Hi @CallumHogg ,
If we are going to use `encoreURIComponent` then we will need to apply it to each query parameter, and not to a whole query string as we are doing now.

One way or another, I will need to test each request thoroughly, so I am 100% sure I am not breaking anything (I had issues with query encoding before, I do not clearly remember, but I think it was connected to RetrieveMultiple of

[2018-03-06 17:08] AleksandrRogov commented on #22
Most probably, we need to encode all components separately using `encodeURIComponent`, because the characters that `encodeURI` does not encode could potentially be somewhere in the filter request, for example: to filter a text "How are you?" - which will result in an error.

[2018-03-09 17:56] chuckokerstrom opened #23 "Using FetchXML with associated link-entity alias returns unexpected response values"
Using the following fetchxml statement the results for the linked attributes (those referred to with an alias of 'td') are returned as "td_x002e_gr_amount".  So instead of returning 'td.{attribute name} as expected this additional '_x002e_' string is embedded.  This string value appears to be consistent (so far) for any aliased attributes.  Is there a reason for this?  Is there a flag or option th

[2018-03-09 17:59] chuckokerstrom commented on #23
Ok weird, the Xml code got removed.  Here it is now...

<fetch mapping="logical">
          <entity name="gr_aptransactionheader">
           <attribute name="gr_trasnactionnumber"/>
          <link-entity name="gr_aptransactionline" alias="td" to="gr_aptransactionheaderid" from="gr_transactionidid" >
                  <attribute name="gr_name" />
                   <attribute name="gr_amount" />

[2018-03-09 18:01] chuckokerstrom commented on #23
[fetchxml_example.txt](https://github.com/AleksandrRogov/DynamicsWebApi/files/1797883/fetchxml_example.txt)

[2018-03-09 19:45] AleksandrRogov commented on #23
Hi @chuckokerstrom ,
Yes, symbol `x002e` is an actual dot `.` but encoded, it is done to avoid JSON parsing errors. So, the actual response contains it.

At this moment DynamicsWebApi, does not decode such symbols, so you will need to use `td_x002e_gr_amount` to get the value. I did not notice that before, so I will implement a decoding in the next release and you will be able to use 'td.gr_amount

[2018-03-10 19:05] #23 closed

[2018-03-11 05:29] #22 closed

[2018-03-13 16:13] chuckokerstrom commented on #23
Just to close the loop on this.  I've installed the new release and it
solves the issue.

Thanks,

Chuck

On 3/10/2018 2:05 PM, Aleksandr Rogov wrote:

[2018-03-14 15:08] das3in opened #24 "401 Not authorized - successful token from adal-node"
Having some trouble doing a basic query. I've hooked up `adal-node` and when I call `acquireTokenWithClientCredentials` I successfully get back an access token when I then pass to my dynamicsWebApi callback. Unfortunately, even with a valid token, I'm still getting an `unauthorized` error.

Am I supposed to pass the entire token response to the callback to just the `accessToken` itself (doesn't wo

[2018-03-14 15:20] AleksandrRogov commented on #24
Hi @das3in,
Did you try to copy-paste that token and make a request using something like Fiddler or Curl? Does it work?

[2018-03-14 15:24] AleksandrRogov commented on #24
By the way, are you sure that the resource you are using in `webApiUrl` is the same as you provide for adal authentication?

[2018-03-14 15:26] das3in commented on #24
Hmmm just tried and still getting a 401. Likely a Microsoft/Azure/AD/some other permissions issue?

And the resource for `adal-node` is just the resource without the `api/data/v8.0`

[2018-03-14 15:29] AleksandrRogov commented on #24
Oh yeah? Strangely for me they are different. Adal resource is something like: org.crm.dynamics.com; and web api url is: org.**api**.crm.dynamics.com

[2018-03-14 15:32] das3in commented on #24
I just made that change and that it didn't change anything code wise.

`adal-node` resource: `https://org.crm.dynamics.com`
`webApiUrl`: `https://org.api.crm.dynamics.com`

[2018-03-14 15:33] AleksandrRogov commented on #24
token does not work still?

[2018-03-14 15:36] das3in commented on #24
Nope I'm still getting,

[code]

[2018-03-14 15:43] AleksandrRogov commented on #24
you can try to parse JWT in [jwt.io](https://jwt.io) and see what information is there.
[code]

[2018-03-14 17:28] das3in commented on #24
Ok I see. I was able to successfully use postman to get a token, and make a request with that token manually. It looks like I need to pass both a username and password AND a clientSecret - if I just use the function you mentioned, `acquireTokenWithUsernamePassword`, I get the following error:

[code]

[2018-03-14 18:36] AleksandrRogov commented on #24
Interesting. That could be a problem in Azure AD App Registration Settings somewhere. I always use that function in each Node.Js application I create and never had a problem.

I think it may depend on what permissions you are granting to your application. Here are permissions I usually use:
![image](https://user-images.githubusercontent.com/1893650/37423725-f3f57776-2794-11e8-825e-d5e5bc8ad202.png

[2018-03-14 18:43] AleksandrRogov commented on #24
Also, forgot to mention, the application type I use is "Native".

[2018-03-20 14:12] AleksandrRogov commented on #24
Closing the issue because of inactivity.

[2018-03-20 14:12] #24 closed

[2018-03-22 00:23] chuckokerstrom opened #25 "FetchXml aliased results are different between CRM 2016 (on-premise) and Dyn 365"
Just installed a solution that is works fine on an on-premise CRM 8.2 instance, onto an online Dynamics 9.x and hit a problem with all the FetchXml requests that contained an aliased link-entity.  Seems the resulting javascript/JSON result is returning the attribute named differently.

I know we'd just worked through another issue (#25) on this same topic, but this is a slightly different issue.

[2018-03-22 14:47] AleksandrRogov commented on #25
HI @chuckokerstrom ,
Interesting. I did not test aliases in D365 v9 and that was my mistake. It seems like they changed the responses between these versions. Logically, you should be able to access aliases the following way (in 9.0): `_jobBidEstLines[i]['"ad.cac_categorytype"']`.

I am going to make changes in DynamicsWebApi, so it also parses this case.

Thank you for letting me know about it!

[2018-03-22 16:44] chuckokerstrom commented on #25
Yep, I finally figured that out and am using a quickie fix function for
now...

    function getAliasedValue(parentObject, aliasName, varName) {
         if (_crmMajorVersion == '9') {
             var varNameStr = '"' + aliasName + '.' + varName + '"';
             return parentObject[varNameStr];
         }
         else {
             return parentObject[aliasName][varName];
         }
    }

C

[2018-03-23 22:36] chuckokerstrom commented on #25
Hmmm... so really glad I sent you a screen print the other day.  Without
any changes on my side I'm now getting the normal results from FetchXml
aliased values.  Here's today's screenshoot from Dyn9.x....

Unlike the previous Dyn9.x screen print, today's don't contain the
encapsulating quote marks on the ad alias variables!

So dunno if you've had time to look at this, but perhaps there is now
not

[2018-03-24 04:26] AleksandrRogov commented on #25
Hi @chuckokerstrom ,
I did not test this issue yet.
Do not worry about it! I will still try to test the alias parsing with v9.

I appreciate your participation in the project.

[2018-03-27 14:10] chuckokerstrom commented on #25
One last note on this...  I think I've find the absolute best way to get
around this issue completely.  In the FetchXml statement use "alias" for
any attribute that is part of a link-entity relationship.

With aliased attributes you simply address the attribute by that alias
name -- no need to bother with how the variable's name is formatted or
under which link-entity relation it was used.

Regard

[2018-04-04 18:14] sourav-prescriber-360 opened #26 "Error: Xrm Context is not available."
Getting this Error while making
[code]
[code]

[2018-04-04 18:52] AleksandrRogov commented on #26
Hi @sourav-prescriber-360 ,
What configuration did you provide for the DynamicsWebApi? When you use it in Node.js you need to provide `webApiUrl`. For example:

[code]

[2018-04-05 19:49] AleksandrRogov commented on #26
Duplicate of #15

[2018-04-05 19:49] #26 closed

[2018-05-22 22:27] jmorton25 opened #27 "FetchXml Advanced Request"
Any plans to implement an "advanced" version of the FetchXml Requests? I'm passing a token explicitly to my calls using the Advanced Request object elsewhere, but I noticed that Fetch currently doesn't support that.

I "hacked" my way into passing an additional parameter for my token into the basic FetchXml request, and one downstream thing I noticed is that when my FetchXml request is split into

[2018-05-23 01:39] AleksandrRogov commented on #27
Thank you @jmorton25 , for submitting this issue. I will fix it in the next release.
And I appreciate your kind words.

[2018-06-12 00:00] #27 closed

[2018-07-30 13:56] infiniteshroom opened #28 "Collection-valued navigation"
Hi guys,

Just wondering if this library handles Collection-valued navigation?

I've noticed if I try to use the expand property of the request object it just returns a @odata.nextLink. Naturally I'd want to avoid having to run a request to grab this data.

Is there anyway to handle that from the library?

Cheers,
Mark.

[2018-07-30 22:56] AleksandrRogov commented on #28
Hi @infiniteshroom,
What do you mean by collection-valued navigation and what request are you trying to make?

Thanks

[2018-07-31 09:39] infiniteshroom commented on #28
Hi,

Thanks for getting back to me. I'm trying to return a many to many relationship on an entity, but noticed that this returns a oDataNextLink just wondering how I would be able to get that information back, if that makes sense.

For instance getting all quotes associated with an opportunity.

Cheers.

[2018-07-31 12:55] AleksandrRogov commented on #28
Thank you for the details.
I am going to check what's going on with many to many relationships.

Meanwhile, what function are you using? Did you try to make a request using `retrieveAllRequest`? or you could try to compose a fetch xml and use `fetchAll`.

[2018-07-31 21:03] infiniteshroom commented on #28
@AleksandrRogov No worries. Yeah it was a retrieveAllRequest. Will look into fetchAll as well.

I've worked around it just now by making a separate API request for the relation data. I think if there was a way to request the data for the oData NextLink for the many to many relationship that could work.

Thanks again for putting this library together it's been a massive help to me on interfacing dy

[2018-07-31 21:04] AleksandrRogov commented on #28
Hi @infiniteshroom ,

I've looked at the Web API documentation and found out that it's designed this way by Microsoft. You will need to make another GET request using the value of the @odata.nextLink property to return the required data. [More info here](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/webapi/query-data-web-api#retrieve-related-entities-by-expanding-navig

[2018-08-01 18:42] #28 closed

[2018-08-03 22:29] tdashworth opened #29 "TypeScript: dynamics-web-api.d.ts is not a module"
The following code is producing the following error.

Code:
`import DynamicsWebApi from 'dynamics-web-api';`

Error:
`File 'c:/.../node_modules/dynamics-web-api/lib/dynamics-web-api.d.ts' is not a module.`

[2018-08-04 09:09] tdashworth commented on #29
Thanks for your quick response.

Is it something you are planning for the future?

I would love to contribute but I am only just starting to learn TypeScript.

[2018-08-04 13:55] AleksandrRogov commented on #29
I am planning to do it but it's not on my list of first things to do unfortunately.

Any contributions are welcome and if you would like to contribute I'll ask you to cover your code with tests. Not an easy task but if this is something you're interested in, let me know. :)

Best Regards,
Aleksandr

[2018-08-04 13:55] #29 closed

[2018-08-26 06:02] wiese42 opened #30 "executeFetchXml fails"
pagenumber replacer produces bad results for a fetch statement like this:
<fetch mapping="logical" output-format="xml-platform" version="1.0" distinct="false">...</fetch>
works if I add "." and "-" to the pattern:
fetchXml = fetchXml.replace(/^(<fetch[\w\d\s'"=.-]+)/, replacementString);
note that this is not a suggested fix but a quick workaround for my special use case.

[2018-08-26 06:12] wiese42 opened #31 "auth fails for some adal versions"
I am using adal.js from https://github.com/AzureAD/azure-activedirectory-library-for-js/tree/dev/dist for a client app (not a node app) that requires authorization. In this adal version the returned token is the token string itself. The token property accessToken is undefined.
Workaround: add (token.accessToken || token)  to the auth header instead.

[2018-08-26 14:27] AleksandrRogov commented on #30
Thank you for submitting the issue.
What's your special use case? How can I test it?
Thanks

[2018-08-26 14:28] AleksandrRogov commented on #31
Thanks @wiese42 . I will add a condition there.

[2018-08-26 15:02] #31 closed

[2018-08-27 09:28] wiese42 opened #32 "trouble with retreiveMultiple filter"
I am trying to get all accounts where transactioncurrencyid has guid 784c6a92-....
I am using retreiveMultiple with filter statement
transactioncurrencyid eq 784c6a92-...
This gives me an exception:

  "message": "A binary operator with incompatible types was detected. Found operand types 'Microsoft.Dynamics.CRM.transactioncurrency' and 'Edm.Guid' for operator kind 'Equal'.",
  "type": "Microsoft.

[2018-08-27 13:17] AleksandrRogov commented on #32
Hi @wiese42 ,
Thanks for submitting this issue.
I was thinking to automate that but there can be other types of lookups that can point to different types of entities, such as "Parent Customer", so the navigation property can be either "parentcustomerid_contact" or "parentcustomerid_account", how will the library "decide" which one you are planning to use?
Also, the name of the navigation property

[2018-08-27 13:17] #32 closed

[2018-08-27 13:42] wiese42 commented on #32
maybe a filter builder would help.
maybe some sanity checks, e.g.: if value has guid format then navigaton property should be of the form _name_suffix.

[2018-08-27 13:55] AleksandrRogov commented on #32
As I explained earlier:
there can be other types of lookups that can point to different types of entities, such as "Parent Customer", so the navigation property can be either "parentcustomerid_contact" or "parentcustomerid_account", how will the library "decide" which one you are planning to use?

[2018-08-27 14:00] wiese42 commented on #32
Understood. That's why I was making suggestions how to make the situation for a library user less error prone/obscure.
By the way: many thanks for your project. It saved me a lot of time.

[2018-08-27 14:32] AleksandrRogov commented on #32
Hi @wiese42 . You are very welcome. I appreciate your support of the project!

[2018-09-02 16:03] #30 closed

[2018-09-19 09:42] jeetjg opened #33 "Unable to execute the Web API function as synchronous"
Hello,

I tried creating a synchronous Web API request using your helper library but when I debug the code, it is not executing as a synchronous function.

My requirement is to create a function that retrieves and return the name of the security role from Dynamics CRM based on the GUID.

Do we have the support for synchronous Web API calls in the library?

If yes, then can you please provide me so

[2018-09-19 09:55] Bhavikaav opened #34 "Getting error "Invalid URI: The hostname could not be parsed.""
Hi All,

I am using the "dynamicsWebApi.update" method of the "dynamics-web-api" library to set a BPF stage of an entity as active in the CRM. But, I am getting below error:

"Invalid URI: The hostname could not be parsed.".

Please help me to solve it.

Thank you!!

[2018-09-19 13:28] AleksandrRogov commented on #33
Hi @jeetjg ,
Are you using browser or nodejs? And why do you need to use a synchronous call here?
`async` works only in a browser, I will check whether it's working or not.

In 99% time you do not need synchronous calls, if you want to make it asynchronous and keep a correct call sequence do this:

[code]

[2018-09-19 13:30] AleksandrRogov commented on #34
Hi @Bhavikaav ,
Can you please provide a piece of code where you initialize DynamicsWebApi object? And are you using NodeJs or a browser?

[2018-09-20 05:51] Bhavikaav commented on #34
Hello AleksandrRogov,

Thanks for your prompt response.
Just for your knowledge, we are calling this function from a browser.
As you must be knowing, in MS Dynamics 365 V9, a separate entity is created by the system for each BPF (Business Process Flow).
My requirement is to create a function that updates the activestageid field in the entity created for the BPF.
I used your helper library to updat

[2018-09-20 14:33] AleksandrRogov commented on #33
Hi @jeetjg ,
You need to [chain Promises](https://javascript.info/promise-chaining) to get the result you want.
Your full code should be like this:
[code]

Also please remove `catch` from the function above, because it must be at the end of the chain.

Please refer to documentation about JavaScript Promises for more information.

[2018-09-20 14:52] AleksandrRogov commented on #33
Ok, now I understand what you're trying to do.
JavaScript Promises are **always** asynchronous. You will need to use [DynamicsWebApi with callbacks](https://github.com/AleksandrRogov/DynamicsWebApi/blob/master/dist/dynamics-web-api-callbacks.js) if you want to "freeze" UI.

[2018-09-20 14:56] AleksandrRogov commented on #34
Can you please tell me what hostname it tries to make a request to? Is it correct or not? It seems like the URL host is missing something... most probably a schema.
Is this script on a CRM form or somewhere else? Is CRM on premise or online?

[2018-09-20 15:04] AleksandrRogov commented on #33
Your code will change to:
[code]

This will freeze the UI. But beware that synchronous calls on a main thread are [deprecated in all browsers](https://xhr.spec.whatwg.org/#the-open()-method).

[2018-09-20 15:04] #33 closed

[2018-09-20 15:09] AleksandrRogov commented on #34
Also, looking at your code, the promises you're calling are not chained which means you won't get a correct call sequence. Please check JavaScript Promise documentation to get more information.

[2018-09-25 05:13] Bhavikaav commented on #34
Thank you for the response AleksandrRogov, I have resolved the error by removing a '/' from the below-highlighted code.
![bpfupdatecode](https://user-images.githubusercontent.com/27283027/45994100-c911d900-c0af-11e8-98d7-b35200849467.png)

[2018-09-25 13:37] AleksandrRogov commented on #34
Great! Thanks for using DynamicsWebApi. I am closing this issue now.

[2018-09-25 13:37] #34 closed

[2018-10-08 16:35] wiese42 opened #35 "includeAnnotations: "Microsoft.Dynamics.CRM.lookuplogicalname" ignored"
I am calling dwa.rerieveRequest with property
includeAnnotations: "Microsoft.Dynamics.CRM.lookuplogicalname"
For some unknown reason this returns a result header with preference-applied: "odata.include-annotations="OData.Community.Display.V1.FormattedValue"" and indeed, the returned data includes formatted values but no logicalName info.  Is this expected behavior with dynamics 365 V9 Online? I re

[2018-10-08 19:26] wiese42 commented on #35
seems to only work in combination with expand. closed.

[2018-10-08 19:26] #35 closed

[2018-10-09 01:55] AleksandrRogov commented on #35
Thanks @wiese42 for submitting this issue. I am going to check it anyway.

[2018-10-11 23:49] zabaat opened #36 "message: 'Unable to fetch EntityDefinitions. Error: connect ECONNREFUSED 127.0.0.1:443'"
I cannot make any requests with this lib.

Code is below. My console.log on the adalCallback prints the bearer token completely and all the information looks good.

The error I get is
[code]

[code]

[2018-10-12 00:20] AleksandrRogov commented on #36
Hi @zabaat ,

Your `webApiUrl` is not correct.
Current: `'https:/nulia.api.crm.dynamics.com/api/data/v9.0'`
Should be: `'https://nulia.api.crm.dynamics.com/api/data/v9.0'`

Thanks

[2018-10-12 00:20] #36 closed

[2018-10-18 10:04] zabaat opened #37 "Associate error"
thank you for your quick help last time, hopefully this one isn't as bad of a user error.
Code
`dynamics
                        .associate(
                            'contacts',
                            record.contactid,
                            'parentcustomerid',
                            'accounts',
                            parentcustomerid
                        )

[2018-10-18 13:08] AleksandrRogov commented on #37
Hi @zabaat ,
I will investigate this error. Thanks

[2018-10-18 16:01] AleksandrRogov commented on #37
The third parameter must be a "Relationship Name" not an "Attribute Name".
So the request becomes like this:
[code]

[2018-10-18 16:01] #37 closed

[2018-10-19 07:32] zabaat commented on #37
Just a note that it's flipped
[code]

[2018-11-13 16:58] mfradcourt opened #38 "Alternate keys does not allow to use integer value (it is forcing to use a string)"
The current validation in the keyParameterCheck(...) function is forcing the key parameters to be of type string but it may happen that an integer is used.

For example, when a field is a drop down in Dynamics, the value behind is an integer.
var key = "xxx='123456',yyy='137891',select_option=959600000"

The Dynamics CRM API is expecting to receive the value without single quote in case of an inte

[2018-11-13 18:01] AleksandrRogov commented on #38
Thanks @mfradcourt for submitting this issue and creating a pull request! I am closing this issue.

[2018-11-13 18:01] #38 closed

[2018-12-07 19:12] thargenediad commented on #36
This faulty URL comes from the code example in the README:

`var dynamicsWebApi = new DynamicsWebApi({
    webApiUrl: 'https:/myorg.api.crm.dynamics.com/api/data/v9.0/',
    onTokenRefresh: acquireToken
});`

[2018-12-07 22:21] AleksandrRogov commented on #36
I'm going to fix it. Thanks @thargenediad

[2018-12-17 06:13] wiese42 opened #40 "query functions as filters"
Is it possible to use query functions such as LastXMonths (https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/lastxmonths) as filter statements? If I set the filter statement to 'Microsoft.Dynamics.CRM.LastXMonths(PropertyName=@p1,PropertyValue=@p2)&@p1='name'&p2=42'
I receive the server response
"Syntax error: character '&' is not valid at position 70 in 'Microsoft.Dynamics.

[2018-12-17 15:45] AleksandrRogov commented on #40
Hi @wiese42 ,
Should be possible. I am going to reproduce the issue and will get back to you.
Thanks

[2018-12-18 00:20] AleksandrRogov commented on #40
Hi @wiese42 ,
It's not possible to set a filter with @p1, @p2 and so on properties at this moment. But you can use this query instead: `Microsoft.Dynamics.CRM.LastXMonths(PropertyName='name',PropertyValue=42)` where you explicitly set a property name and a value.

The reason why the original call is not working because I url-encode everything that is written in a 'filter' because I assume that it'

[2018-12-18 00:20] #40 closed

[2018-12-18 06:48] wiese42 commented on #40
Thanks Aleksandr. I can verify that the alternative query syntax works.

[2019-01-15 18:34] elberfeld opened #41 "Upsert with AlternateKey causes "TypeError: Cannot read property '1' of null"error"
The following sample works but causes an error.

Code:

dynamicsWebApi.upsert("ad_key_str='0037'", "ad_akademischertitels", titel_update).then(function () {
    console.log("Titel Upserted");
})
.catch(function (error) {
    console.log(error.message);
});

Error:

TypeError: Cannot read property '1' of null
parseResponse.js:207
    at parseResponse (d:\[...]\node_modules\dynamics-web-api\lib\requ

[2019-01-17 14:17] AleksandrRogov commented on #41
Hi @elberfeld ,
Thanks for reporting the issue. I'm going to replicate that.

[2019-02-27 13:42] pyromm opened #42 "FetchXML + aggregate="true""
When using an aggregate function within the fetchxml statement it fails because paging information are added.  <fetch aggregate="true" >

Thanks for the library. It really helpful.

[2019-02-27 15:03] AleksandrRogov commented on #42
Hi @pyromm ,
Thank you for submitting the issue. I will check and fix it asap.
I am glad you found the library useful.

[2019-02-28 02:46] AleksandrRogov commented on #42
Hi @pyromm ,

I have tested the following code, and it seems to be working.

[code]

Do you have an example of your fetch xml, and can you post a code if possible?
Thanks

[2019-03-06 12:22] mtnmuncher opened #43 "Error when calling methods - Dynamics 365 On Premise (version 8.2)"

[2019-03-06 13:31] mtnmuncher commented on #43
I think I resolved my issue. It turns out this call was failing.

    dynamicsWebApi = new DynamicsWebApi({
        webApiVersion: '8.2',
        webApiUrl: 'https:/sni.snngateway.com/sni/api/data/v8.2/'
    })

replaced with

    dynamicsWebApi = new DynamicsWebApi({
        webApiVersion: '8.2'
    })

[2019-03-06 13:31] #43 closed

[2019-03-06 20:24] AleksandrRogov commented on #42
Closing due to inactivity. Could not replicate an issue.

[2019-03-06 20:24] #42 closed

[2019-03-29 14:26] rsquarev commented on #29
Please make this possible as soon as possible. It will be great help in our typescript based nodejs.

[2019-03-29 19:54] AleksandrRogov commented on #29
Hi @rsquarev ,
I am working on adding d.ts files with TypeScript interfaces, I hope those will help.

[2019-03-30 15:18] Felix-Indoing opened #45 "error on stringifying object type parameters in buildFunctionParameters(parameters)"
The following code:

[code]

returns:

which is not correct.

the expected result would be:

it seems like the code at buildFunctionParameters.js line 23:

[code]

could be changed to

[code]

to solved this issue.

[2019-03-30 15:24] AleksandrRogov commented on #45
Hi @Felix-Indoing, what Web API function are you trying to call?

[2019-03-30 15:26] Felix-Indoing commented on #45
Hi, I am using the following code:

[code]

[2019-03-30 15:33] Felix-Indoing commented on #45
Here is the d365 response with the current code:

[code]

It tells that an unexpected char '[' is occured, where a '{' expected.

[2019-03-30 16:35] AleksandrRogov commented on #45
Thanks @Felix-Indoing , that's definitely an incorrect behaviour. I am going to fix it.

[2019-03-31 01:12] #45 closed

[2019-04-04 04:45] AleksandrRogov commented on #29
Hi @rsquarev ,
In case you are not getting notifications from DynamicsWebApi: I added TypeScript declaration files, you can download them from [here](../../tree/master/types/). Hope that will help.

[2019-04-10 03:07] ncjones commented on #12
Was there a resolution for this? Any hints how I can use the API to discover all available entities and describe the properties on the entities?

[2019-04-10 03:46] ncjones commented on #12
The solution to my problem was in the readme but it was hard to find because of the terminology used to describe the operations.

List available entity types:

[code]

Describe entity:

[code]

In the readme these operations are described as "Retrieve Multiple Entities" and "Retrieve Multiple Attributes" respectively. Maybe it's just my lack of familiarity with the Dynamics terminology but those d

[2019-04-10 05:53] AleksandrRogov commented on #12
Hi @ncjones ,
I am glad you found a solution. If I add a "metadata" keyword will that be more intuitive? For example: "Retrieve Entity Metadata", "Retrieve Metadata of Multiple Entities".

[2019-04-26 14:58] RoelVB opened #47 "Unexpected token ..."
I'm getting the error: `Unexpected token ...`

This is because of this line:
https://github.com/AleksandrRogov/DynamicsWebApi/blob/978500d052ba6ae124ea14fafb740e13fb1c9d3b/lib/requests/http.js#L64

This was introduced in this commit: https://github.com/AleksandrRogov/DynamicsWebApi/commit/bcf74c0c5f87c9839535f8e1d851f0514232541d

I always thought kind of extending of a dictionary is only available

[2019-04-26 15:02] AleksandrRogov commented on #47
Hi @RoelVB ,
Yes, I am going to refactor this. I want to support older versions of js.
Thanks

[2019-04-26 15:03] AleksandrRogov commented on #47
@RoelVB may I ask you what version of Node.js you're using?

[2019-04-26 15:05] RoelVB commented on #47
Thank you for your quick response.

I'm using 8.12 at the moment. I'm to afraid I'll break other projects if I upgrade.
But if an upgrade solves the problem I could give it a try.

[2019-04-26 19:53] AleksandrRogov commented on #47
@RoelVB it will fix the problem. but I am going to push a patch soon, so you don't have to do that.

[2019-04-26 20:01] #47 closed

[2019-05-02 21:14] ncjones commented on #47
@AleksandrRogov I just saw this. You should use eslint or similar to restrict language features or use babel to compile down to the supported runtime versions.

[2019-05-03 01:37] AleksandrRogov commented on #47
hi @ncjones , you are right, I need to add compilation commands for this purpose.

[2019-05-06 08:53] omarrana opened #49 "Batch operation cache issue"
[code]

This code works in batch mode on a button click. Everything runs fine on the first click. if I click it again the update part does not work. If I refresh the page and try again it works but not for the second time. What can be the issue?

[2019-05-06 13:26] AleksandrRogov commented on #49
hi @omarrana , I'll try to reproduce the issue. Meanwhile, can you please check if the requests are executed in a developer panel and if there's any error?

[2019-05-06 13:37] omarrana commented on #49
This is what i get there:

[2019-05-07 15:23] AleksandrRogov commented on #49
@omarrana , I could not reproduce an error, everything works fine for me.
What request is failing for you? Can you send me **raw** requests and responses from crm web api? If the error is in `hasOwnProperty` it indicates that CRM is not returning a body in one of the responses.
Thanks.
Also, these lines:
[code]

could be combined into a single update request:
[code]

[2019-05-08 14:40] omarrana commented on #49
Hello, there this error only occurs in chrome.

[2019-05-08 21:49] AleksandrRogov commented on #49
hi @omarrana I tested it in Chrome as well, I did not have any error.
can you give me raw requests and responses from CRM? you can catch them using network tab in the developer panel.
thanks

[2019-05-09 10:13] omarrana commented on #49
hi  @AleksandrRogov  thankyou for your comments, you can close the this it was not a bug, i had a create call just before the batch operation, and that conflicted each other.
For data protection could you remove your last comment where my prefix is shown? I already edited my original.

[2019-05-09 10:13] #49 closed

[2019-05-14 04:04] ncjones opened #50 "Fetch picklist options"
Is it possible to obtain the available picklist values for an attribute with this client library?

I'm currently using the following shell script to get the values I need but I'd like to automate this without using bash:

[code]

The main issue with my bash script is that I have to manually generate and copy the auth token. Perhaps a more generic API should be exposed so that edge cases like this

[2019-05-14 05:37] AleksandrRogov commented on #50
@ncjones , I guess you are looking for the following function:

[code]

[2019-05-14 05:42] AleksandrRogov commented on #50
@ncjones or this:
[code]

[2019-05-14 20:46] ncjones commented on #50
@AleksandrRogov That's perfect thanks! I guess this is obvious to anyone already familiar with the CRM OData API. Explicitly calling out this usecase in the docs would be helpful for noobs like me.

[2019-05-14 22:22] AleksandrRogov commented on #50
@ncjones yeah, you need to know/realize that you need to fetch an Entity Metadata to get those pick list options prior to looking at my documentation. I could probably add a section called "Examples" somewhere, but I am afraid that it may to grow enormously because people have different knowledge levels.

[2019-05-14 22:22] #50 closed

[2019-05-22 00:35] swhillance-mphn commented on #4
I'm getting this error as well. Pretty much identical code.

`
{ Error: Unexpected Error
    at IncomingMessage.<anonymous> (C:\Users\swhillance\Documents\GitHub\murray-butler-node\node_modules\dynamics-web-api\lib\requests\http.js:106:33)
    at emitNone (events.js:111:20)
    at IncomingMessage.emit (events.js:208:7)
    at endReadableNT (_stream_readable.js:1055:12)
    at _combinedTickCallback

[2019-05-22 05:30] AleksandrRogov commented on #4
@swhillance-mphn 401 means `UNAUTHORIZED` - are you sure you specified correct credentials?

[2019-05-22 05:32] swhillance-mphn commented on #4
Ended up solving it by creating an 'Application User' in Dynamics 365, using the Application (Client) ID listed on the App Service in Azure. Once I did that I got status 200. Thanks Alek.

[2019-05-22 05:39] AleksandrRogov commented on #4
@swhillance-mphn thanks for posting your solution.

[2019-05-22 23:49] swhillance-mphn opened #51 "maxPageSize doesn't apply when using retrieveAllRequest()"
Using the below code, all records are retrieved instead of only 5.

[code]

[2019-05-22 23:51] #51 closed

[2019-05-22 23:51] swhillance-mphn commented on #51
Solved. It was a misunderstanding with the documentation.

Use 'top: 5' instead of 'maxPageSize: 5'

[2019-07-08 10:02] lrxw opened #52 "Concurrent requests of fetch leads to unexpected behaviour"
When I make concurrent requests on `DynamicsWebApi.fetch(...)`, sometimes the response is an array instead of an object. The first entry looks exactly like the response I expect. Is this behaviour a bug or a feature?

[2019-07-08 13:37] AleksandrRogov commented on #52
hi @lrxw , a fetch xml request should return an object:
[code]
What response do you get? And by concurrent requests do you mean the following?
[code]

[2019-07-11 11:37] lrxw commented on #52
I wrapped my call to D365 in a REST service and called that service 10 times in parallel. The service code is pretty simple. Just an async function with an await on `fetch(...)`

[2019-07-11 14:04] AleksandrRogov commented on #52
@lrxw i cannot reproduce your issue. I ran 100 requests in a loop and all results were correct except the ones that got an error "Number of concurrent requests exceeded the limit of 40" .
[code]
Can you send me the this a sample code you're using?

[2019-07-15 09:10] szahanov opened #53 "What should the authorityUrl be when connecting to an On-Premise installation?"
Submitting this as an issue as requested, thank you.

What should the authorityUrl variable be when connecting to an on-premise installation of the Microsoft Dynamics CRM? This is regarding this part - https://www.npmjs.com/package/dynamics-web-api#dynamicswebapi-for-nodejs . If I use https://login.microsoftonline.com/< client id >/oauth2/token then I get the below error, the angle brackets were a

[2019-07-15 12:44] AleksandrRogov commented on #53
@szahanov I have yet to try to connect to on-premise Web API, so I haven't tried it before but my understanding is that you don't need to do an authentication process if your application is under the same Active Directory as CRM, you just run your app under one of your CRM users (mostly people choose a user with a System Administrator role)  and it should work. Otherwise you will have to implement

[2019-07-15 16:18] AleksandrRogov commented on #52
Closing due to inactivity.

[2019-07-15 16:18] #52 closed

[2019-07-15 16:25] AleksandrRogov commented on #53
@szahanov there's a walk-through on setting up claims authentication for server with D365 CE on-premise: [link](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/walkthrough-register-app-active-directory#app-registration-for-dynamics-365-for-customer-engagement-on-premises-ifd)

[2019-07-15 16:27] AleksandrRogov commented on #53
@szahanov also a question, just to be sure: are trying to create a Node.js application or you're doing a crm customization?

[2019-07-15 17:02] szahanov commented on #53
I'm creating a Node.js application. I want it to interact with data on an on-premise version of Microsoft Dynamics.

[2019-07-15 20:29] AleksandrRogov commented on #53
@szahanov then you'll need to follow that walk-through to set up CRM server to use claims authentication, register your app, get a client id and use the server url to get a token.

The url you're trying to access `https://login.microsoftonline.com/<client id>/oauth2/token` is for CRM online and applications registered in Azure Active Directory.

[2019-07-18 14:59] edanhauon opened #54 "Authentication Issue with Oatuh API"
Hi,

Getting an 401 when trying to access the API:

message:"Get Token request returned http error: 401 and server response: {"error":"invalid_client","error_description":"AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.\r\nTrace ID: \r\nCorrelation ID: \r\nTimestamp: 2019-07-18 14:46:12Z","error_codes":[7000218],"timestamp":"2019-07-18 1

[2019-07-19 00:54] AleksandrRogov commented on #54
hi @edanhauon feels like this error is coming from adal not from DynamicsWebApi. I would ask this question [here](https://github.com/AzureAD/azure-activedirectory-library-for-js).

[2019-07-20 03:05] AleksandrRogov commented on #54
@edanhauon did you figure out the issue? or do you still need help?

It would be better if you could post a sample of your code that acquires token. 401 is an authentication issue and the DynamicsWebApi does not retrieve it, you'll need to use adal to [acquire it](https://github.com/AleksandrRogov/DynamicsWebApi#dynamicswebapi-for-nodejs).

[2019-07-21 08:25] edanhauon commented on #54
Hi

I actually used the EXACT piece of first sample code from the documentation.

Edan.

[2019-07-21 15:49] AleksandrRogov commented on #54
@edanhauon maybe [this will help](https://github.com/Azure/azure-keyvault-java/issues/5). Please make sure that you are using a correct [authentication scenario](https://github.com/uglide/azure-content/blob/master/articles/active-directory/active-directory-authentication-scenarios.md) in your Azure AD.

[2019-08-05 20:52] AleksandrRogov commented on #53
Closing due to inactivity.

[2019-08-05 20:52] #53 closed

[2019-08-05 20:52] AleksandrRogov commented on #54
Closing due to inactivity.

[2019-08-05 20:52] #54 closed

[2019-08-08 11:51] askhat opened #56 "dynamics-web-api.d.ts has optional parameter followed by mandatory"
Hi,

I'm just trying to pack into Docker container an app that relies on dynamics-web-api package. When I'm running build inside a container, I'm getting the following:

[code]

Indeed dynamics-web-api.d.ts at line 294 has this line:

[code]

I'm guessing this is why the app isn't able to build. So, is it a mistake or am I missing something?

[2019-08-08 11:56] #56 closed

[2019-08-08 14:00] AleksandrRogov commented on #56
hi @askhat, thanks for reporting this issue. I have made changes to d.ts files in v. 1.5.10.

[2019-08-08 14:04] askhat commented on #56
Much obliged @AleksandrRogov

[2019-10-14 16:45] andtrobs opened #57 "Dynamics change tracking functionality"
Is it possible to use the change tracking functionality of Dynamics as described [here](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/use-change-tracking-synchronize-data-external-systems)? I can't find anything documented to suggest if/how to do this.

[2019-10-16 21:10] AleksandrRogov commented on #57
hi @andtrobs ,
Thank you for submitting this issue! There was a workaround how to get this done with v.1.5.10 but I have decided to simplify Change Tracking and included this feature in v.1.5.11. Please refer to README for more information. Here's an example how you can do change tracking:
[code]

Let me know if I missed something or you have any question.
Regards!

[2019-10-21 17:21] AleksandrRogov commented on #25
Closing this issue due to inactivity.

[2019-10-21 17:21] #25 closed

[2019-10-22 00:52] #12 closed

[2019-10-24 09:51] andtrobs commented on #57
Hi @AleksandrRogov

Thanks for the update, this works great if the results fit into a single page of data, however if there are multiple pages the deltaLink is only included in the last page. It would be really useful if change tracking also worked with the retrieveAllRequest function.

Regards

[2019-11-09 14:55] AleksandrRogov commented on #57
@andtrobs hi
Sorry for a delay with a reply, I did not have a test environment to test this. So, the delta link will be included when there are no more records to retrieve for the original request, which means, if you had a retrieve multiple request with multiple pages, the delta link will only be included in the last page. That's OOTB functionality of Dynamics 365 Web Api and it makes sense.

Do

[2019-11-09 15:07] AleksandrRogov commented on #57
@andtrobs what I can do though, is to include the delta link in the result of `retrieveAllRequest` that you can use further in change tracking. Will that be helpful?

[2019-11-09 15:12] andtrobs commented on #57
Hi @AleksandrRogov including the delta link in the result of the retrieveAllRequest is what I was hoping for. My understanding is that the retrieveAllRequest will request each page and merge the results to return, if this also included the delta link it should work perfectly. Thanks

[2019-11-09 15:33] AleksandrRogov commented on #57
@andtrobs I can include delta link in the result of the `retrieveAllRequest`.

For the merge, as I mentioned before, if during the request the entity changed twice, it will be included in the result twice. Also, there is a possibility that the request may never stop running and never return a result if there are non-stop changes in records.

[2019-11-09 16:24] #57 closed

[2019-11-09 16:37] AleksandrRogov commented on #57
@andtrobs please check a new patch 1.5.12. I hope it'll help.

Thanks!

[2019-11-14 09:06] I2olanD opened #61 "creating batch requests with upsert won't work"
Hello,

i'm trying to setup a batch request with upserts. The problem is, that the promise won't be resolved on the upsert call.

A single upsert call works.

Example:
[code]

[2019-11-14 14:37] AleksandrRogov commented on #61
hi @I2olanD , you don't have to resolve a promise when you call upserts between `startBatch` and `executeBatch`. Just resolve it in `executeBatch`:

[code]

[2019-11-15 07:37] I2olanD commented on #61
hey @AleksandrRogov . Thanks for the quick response! unfortunately the solution you provided does not help me either :(. I'm getting ```TypeError: Cannot read property '1' of null```since the batch array is empty....

It work's fine like this outside of a batch request.

[2019-11-15 14:02] AleksandrRogov commented on #61
@I2olanD ok, I am going to check this.

[2019-11-16 15:54] AleksandrRogov commented on #61
hi @I2olanD I have tested your scenario, I did not find issues with a batch request itself but there was an issue in parsing of a batch response that contains requests with alternate keys. I am not sure if this fixes your issue, please give it a try and let me know.

Other than that please check a map function that you have, maybe `dynamicsWebApi.upsert` is never called?

[2019-11-18 11:59] I2olanD commented on #61
Hi @AleksandrRogov that was exactly the issue! I figuered out that the problem was not sending the batch, but handling the response, since it throws an error when the response gets parsed!

[2019-11-18 14:09] AleksandrRogov commented on #61
@I2olanD great! I am closing this then.

[2019-11-18 14:09] #61 closed

[2019-11-18 16:28] smoelle opened #62 "Batch error message to error objects"
Hello,

I use the "ExecuteBatch" method to update multiple records.
An error occurs, which is returned correctly.

The response error message contains a lot of data that the user doesn't need to see.
Is there a way to return these messages as an "error"-array, so that I can show only the error message and the error code  to the user?

I had seen in the sources that there exists the "parseBatchResp

[2019-11-23 20:06] AleksandrRogov commented on #62
hi @smoelle . thank you for raising this issue!
I have made changes to the code, so now it returns parsed error object from a failed batch request. Please note, that the response you catch will be a type of array, because there can be multiple responses from separate requests, one of them will be an error (usually the last object in that array).

[code]

[2019-11-23 20:06] #62 closed

[2019-11-26 07:57] smoelle commented on #62
Hi @AleksandrRogov,

thank you for the fast implementation and this great library.

Best regards

[2019-12-04 04:02] trujaytim opened #63 "Cannot Update Option Set Values (non-global)"
I am trying to update a field's option-set values and am having trouble finding the correct syntax. The option set is not "global" (i.e. the picklist options are defined local to the field). I have followed the below example for updating entity attributes:

[code]

Here is my attempt to apply the above to update some Option values - the attribute new_timstestoptions is already present on the conta

[2019-12-04 04:24] trujaytim commented on #63
Minor progress made - changing the above to set property OptionSet rather than Options allows the update to succeed (no error is reported by the Dynamics API), however the changes to the options do not get applied:
[code]
Any ideas? Thanks!

[2019-12-04 17:59] AleksandrRogov commented on #63
hi @trujaytim , by looking at the documentation [here](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/query-metadata-web-api#querying-entitymetadata-attributes) it seems like you have to expand a OptionSet navigation property to get the value, I will try to get back to you asap with an example on how to update a local option set.
Thanks

[2019-12-04 22:35] trujaytim commented on #63
Thanks Aleksandr, yes I perform that expand call when I "read" the local OptionSet values from the attribute. It is not clear to me if/how I can use expand during an update operation.

[2019-12-05 04:12] AleksandrRogov commented on #63
@trujaytim  I have found a way to update an option set metadata. Though, I had to poke around a bit. Microsoft documentation did not help me with this as well. If you look [here](https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/create-update-optionsets) they mention that you can update OptionSet by doing a `PUT` request by this url:

Well... I tried, and it always re

[2019-12-05 07:21] trujaytim commented on #63
Ah, wow, thanks a lot Aleksandr, that does work just fine. I appreciate the time you spent investigating this for me.

[2019-12-05 07:21] #63 closed

[2019-12-20 03:07] trujaytim opened #64 "Annotation "overriddencreatedon" Not Honored"
Not sure if the issue here is with this library or the Dynamics API (or possibly me!). When creating Annotations (AKA notes) that are associated to Leads I am attempting to override the note date using the overriddencreatedon option. I use this library's "create" operation to add the note (collection name "annotations"), with an example payload thus:
[code]
The created note looks like this (when a

[2019-12-20 21:55] AleksandrRogov commented on #64
hi @trujaytim . yeah, it looks like an out of the box functionality. check this [article](http://mostlymscrm.blogspot.com/2012/07/understanding-createdon-and.html), it's an old one, but I am sure that the underlying business logic did not change for that. so, unfortunately, I can't do much here. If you have any other questions feel free to post it here. I am going to close it for now.
Thanks.

[2019-12-20 21:55] #64 closed

[2020-02-03 05:35] ramarao9 opened #65 "Unable to perform Unbound Function RetrieveCurrentOrganization"
When trying to use the method executeUnboundFunction for the function 'RetrieveCurrentOrganization' the parameter conversion is not handled for enumerated values.

Please see the below link for an example of a valid url.
https://crmtipoftheday.com/757/passing-enumerated-values-to-web-api/

e.g.
Expected
api/data/v9.1/RetrieveCurrentOrganization(AccessType=@p1)?@p1=Microsoft.Dynamics.CRM.EndpointAc

[2020-02-03 23:21] #65 closed

[2020-02-03 23:28] AleksandrRogov commented on #65
hi @ramarao9 ! Thank you for reporting this issue, it should now be fixed with 1.6.1.

And thank you for your kind words!

[2020-02-04 02:42] ramarao9 commented on #65
Thank you for fixing this so quickly!

[2020-03-30 13:27] m-szyszka opened #66 "GUID as alternate key value"
I'm tryin to update single value  (or whole record) using Alternate Key.
When I'm using
[code]
it's giving me message
[code]
which is OK,
but when key value is a UUID and exists in CDS, library says
[code]
Looks like UUID in Alternate Key value is recognized and processed as Primary Key.
Result: can;t update entity using Alternate Key with UUID value.

[2020-03-30 13:41] AleksandrRogov commented on #66
hi @m-szyszka.
I will try to reproduce it. It would be great if you had a code example of what you are doing, so I could provide you with a workaround for your case, but you can simply use the UUID value without providing the key name for the primary key.

[code]

[2020-03-30 13:45] AleksandrRogov commented on #66
I think I misunderstood your issue. You don't want that UUID to be recognized as a primary key.
Ok, I'll take a look at that.

[2020-03-30 13:48] m-szyszka commented on #66
I want to use UUID as Alternate Key value, and it's not working for me. When Alternate Key value is a normal string, it's working.
Part of my code:
[code]
When "myReference" is an UUID, it's not working.

[2020-03-31 01:10] #66 closed

[2020-03-31 01:12] AleksandrRogov commented on #66
@m-szyszka please download a new patch 1.6.3 and let me know if it fixes your issue!
Thank you for submitting the issue!

[2020-03-31 11:22] m-szyszka commented on #66
It's working now, thanks for fast response

[2020-06-10 14:44] io-timeout opened #67 "Multi-level expands"
Firstly, thank you for the great work you have done on this library!

According to the documentation, multi-level expands are not yet implemented.  This is true in so far that the Expand type definition does not provide an official way to define them.

I looked into the RequestConverter.convertRequestOptions code and it looked like they may naturally be supported as this code recursively calls Req

[2020-06-10 16:42] #67 closed, assigned to AleksandrRogov

[2020-06-11 08:24] sgardnerdell commented on #67
That was quick!  Thank you 👍

[2020-06-28 10:18] gauravgoyal5 opened #68 "Getting issue when using DynamicsWebApi in SPFx"
Hi ,
I am using DynamicsWebApi in SPFx solution & following the instruction given in the urls :

- https://www.npmjs.com/package/dynamics-web-api?ref=hackernoon.com

- https://hackernoon.com/integrating-with-the-dynamics-rest-api-using-nodejs-3wk323t

But when I am bundling , getting the issue :
![image](https://user-images.githubusercontent.com/6926513/85944649-1e021380-b956-11ea-8dd7-809fb9855fb

[2020-06-28 14:51] AleksandrRogov commented on #68
@gauravgoyal5 as I can see from the stack trace the error is coming from another module, not DynamicsWebApi.

This one: `Can't resolve 'fs' in '....\temp\node_modules\request\lib'`.
Here are some links related to this issue:

* https://github.com/react-boilerplate/react-boilerplate/issues/2279
* https://stackoverflow.com/questions/46775168/cant-resolve-fs-using-webpack-and-react

[2020-06-28 14:58] AleksandrRogov commented on #68
Also, I am not very familiar with React.js and may be wrong, but it seems like you should use code compiled for the browser and not Node.js package itself. The code for the browser is located [here](../../DynamicsWebApi/tree/master/dist).

[2020-06-29 07:52] gauravgoyal5 commented on #68
Thanks for the reply. I will try & use the JS code.

[2020-07-01 14:21] AleksandrRogov commented on #68
Let me know if you still experience this issue. I am gonna close it for now.

[2020-07-01 14:21] #68 closed

[2020-07-17 13:40] m-szyszka opened #69 "response headers in error"
Hi!
I want to implement retry strategy for dynamics calls and noticed that there are no dynamics headers in error response. To be more specific, I want to retry call in case of HTTP Status 429 (Too Many Requests). I can see "status" field in "error" object, but for 429 Dynamics returns also standard Retry-After header, which is missing.
Is it possible to add it in current 1.X version?

[2020-07-17 23:13] AleksandrRogov commented on #69
hi @m-szyszka , sure, I will find a way to add headers to error object.

[2020-07-19 16:39] #69 closed

[2020-07-19 16:44] AleksandrRogov commented on #69
@m-szyszka , I've released a new patch `1.6.7` with a requested change. You can access headers through `error.headers` property. Please let me know if it solves the problem you have.
Thanks

[2020-07-20 06:20] m-szyszka commented on #69
I checked and it looks fine, thanks for the quick response!

[2020-07-22 15:57] CrestHawk opened #70 "Use Content-ID inside a request payload for association in batching causes web api error"
Hey,

I was trying to use the batch operation to associate a custom entity to the quote entity using the content id and navigation property required. However this causes an error with the following message from the Dynamics web api.

status code - 500
message - 'Resource not found for the segment \'$1\''

At first I thought it might have been something to do with the relationship between the quote

[2020-07-22 21:01] AleksandrRogov commented on #70
hi @CrestHawk, tried to use this example and everything worked well for me.
What version of DynamicsWebApi are you using? And can you please send me the batch payload from the request that your app makes (**don't forget to strip all sensitive data from it**).

[2020-07-22 21:06] AleksandrRogov commented on #70
It should look something like this:

[code]

[2020-07-23 10:44] CrestHawk commented on #70
Hey @AleksandrRogov,

Sure thing, here is some more information on my setup:

dynamics-web-api package version: 1.6.8
On prem organisation version: 9.0.16.7
Web api version: v9.0

I noticed above your batch request is using version 9.1 of the api, could this be the reason I am getting differing result from yourself?

Is there some configuration I can set for the dynamics-web-api package so that it

[2020-07-23 13:05] AleksandrRogov commented on #70
@CrestHawk so, your payload is the same as in my example?

[2020-07-23 13:10] AleksandrRogov commented on #70
I made a request to 9.0, it worked well as well.

[code]

![image](https://user-images.githubusercontent.com/1893650/88290142-4adee780-ccc4-11ea-9bfb-586a113b9000.png)

[2020-07-23 13:51] CrestHawk commented on #70
Hey @AleksandrRogov

Yes I am using the same code as your example.

I don't know how much of a difference it makes but I am using this in a large Typescript application that already has a substantial amount of node_modules also being pulled in as dependencies.

I could give it another try in a small isolated application using raw Javascript to see if that makes a difference and get back to you lat

[2020-07-23 17:40] AleksandrRogov commented on #70
@CrestHawk i do test it against cloud. i don't have an access to on-prem. Theoretically, they should have identical web api back-end. Unless, there's a bug in the version you have, because that error comes from the system.

Yes, you could use either fiddler or just put a breakpoint in `node_modules\dynamics-web-api\lib\requests\http.js` line 23 and copy the value of the `data` variable.

[2020-07-23 17:59] AleksandrRogov commented on #70
also after reading about this exception, it seems like it happens when the resource name was incorrectly specified, for example: `https://orgurl/api/data/v9.0/salesorder` <- notice that there's "s" missing in the end. That's when you normally would see that error.

[2020-07-23 18:22] CrestHawk commented on #70
Hey @AleksandrRogov

Thanks for pointing out where to put the break point, I've just retrieved the payload and this is what is being generated for me (I've removed my org url)

[code]

This payload gave me the same 500 error. I've included the stack trace below.

Does this same payload work for you? If so it may be as you say a bug with my particular version.

message:'Resource not found for the s

[2020-07-23 23:23] AleksandrRogov commented on #70
@CrestHawk yes, my payload is exactly the same as yours and it works.

It seems like there's something wrong internally in your system, probably a bug. I've noticed that your patch is not the latest one, maybe installing new patches will fix this issue? You could also try contacting Microsoft about it, maybe they will help. Just send them the batch payload and the error description, exactly as you

[2020-07-23 23:23] #70 closed

[2020-07-30 15:34] goldesjuan opened #73 "Trying to set timeout using setConfig() function returns an error."
I have the requirement of having different timeouts for different types of operations, currently I am trying to set a specific timeout for batch operations and every time I call `setConfig({ timeout: 8000 })` I get the same error: "Xrm Context is not available", no matter where I call it from.

Also, it would be super helpful if the timeout could be specified on a per-operation basis as part of th

[2020-07-30 20:40] AleksandrRogov commented on #73
@goldesjuan are you calling it from Dynamics 365 web resource or from node.js app?

And, sure, I will add timeout to request object.

[2020-08-01 15:58] #73 closed

[2020-08-01 16:07] AleksandrRogov commented on #73
Hi @goldesjuan,

You can now set `timeout` in the request. Please download `v.1.6.10`.
Thanks!

[2020-09-16 13:28] marcinmo-kainos opened #77 "executeBatch throws an array of objects in case of an error"
Hello Aleksander,

is it documented somewhere what it means that the executeBatch can throw an array of objects instead of an Error?

I could not find anything in the documentation about it myself :(

Cheers,
Marcin

[2020-09-16 18:40] AleksandrRogov commented on #77
hi @marcinmo-kainos ,
Do you mean this one? https://github.com/AleksandrRogov/DynamicsWebApi/releases/tag/v1.6.0

Let me know if this example helps. I may actually need to add it to readme.

[2020-09-17 06:35] marcinmo-kainos commented on #77
Thank you

Now it's very clear :)

Cheers

[2020-09-17 06:35] #77 closed

[2020-10-28 22:01] Lebowskovitch opened #79 "fetchAll returns no more than 5000 items"
Hi everyone,

I'm facing a weird issue. The same fetchXml query returns more than 5000 items (5482 exactly) in one of our app in production (so it's ok) but when I do the same in a local console app, same version of the lib, same xml (copy paste), same configuration (apparently), it returns 5000, as if the paging info was not returned correctly.

I tried to add a log line to see if the response.Pa

[2020-10-29 02:40] AleksandrRogov commented on #79
@Lebowskovitch can I ask you to try to send the same request manually and see if the paging cookie is in the response? You can catch the request details using Fiddler.
I need more information to figure out where the issue is.

[2020-10-29 10:57] Lebowskovitch commented on #79
@AleksandrRogov Ok so I tried to do the request manually with postman and I got the paging cookie, and 5000 items in the value, as expected.

[code]

It's like the lib would behave differently in a terminal app.
FYI when we call the `fetchAll` method, we never use any additional params other than: the target entity, and the XML. (e.g. includeAnnotations or something). But until now, it always work

[2020-10-31 15:51] AleksandrRogov commented on #79
@Lebowskovitch hi. I've ran tests and the `PagingInfo` object exists in the fetch response with the cookie you provided. Are you sure that the `PagingInfo` is null?

![image](https://user-images.githubusercontent.com/1893650/97783618-6d0fbd80-1b6f-11eb-84cf-b3b16fa96e9e.png)

[2020-11-02 09:53] Lebowskovitch commented on #79
@AleksandrRogov Hi ! Here is an example of what I see on my side. I'm doing a `fetchAll()` request.
![capture](https://user-images.githubusercontent.com/3788053/97854131-54331380-1cf9-11eb-8287-a589ab6f1158.png)

As you can see, it seems the paging cookie is present in the response, but the `PagingInfo` is still `undefined`.

[2020-11-02 10:07] Lebowskovitch commented on #79
I think I found something interesting:
![1st](https://user-images.githubusercontent.com/3788053/97855702-6f068780-1cfb-11eb-9166-b9ed9d490ff7.png)
![2nd](https://user-images.githubusercontent.com/3788053/97855709-7168e180-1cfb-11eb-95f0-a57aa6ed14a9.png)

After response is parsed, `PagingInfo` seems ok, but apparently, it is not included in the final `response` object which is passed to the promis

[2020-11-02 10:28] Lebowskovitch commented on #79
Well, . I can't explain what happened. It seems now that the request returns more than 5000 items as expected.
Since the last screenshot above, I didn't change anything in the code, anywhere, I'm just doing some step-by-step debug since this morning. Now the `PagingInfo` is filled.
I'm sorry, I think we can close this issue and we'll never know what happened.

[2020-11-02 15:09] AleksandrRogov commented on #79
@Lebowskovitch great! i will test the request with `useEntityNames` parameter. Maybe there's an issue with it somewhere.

[2020-11-02 18:10] Lebowskovitch commented on #79
I tried to investigate further but had to stop at some point. I think it has to do with the responseParams variable, which seems to lose the pageNumber property somewhere before the fetch request.

[2020-11-02 22:04] AleksandrRogov commented on #79
ok thanks. I will check that.

[2020-11-07 17:07] #79 closed

[2020-11-26 14:37] Suxsem opened #80 "fetchAll still returns no more than 5000 items"
Hi, I'm trying to retrieve all records from a fetchXml but I always get 5000 records despite i'm using the executeFetchXmlAll method.
This is the code I'm using
[code]

where CommonDAO.getWebApi() returns
`new DynamicsWebApi({
            webApiUrl: baseUrl + "/api/data/v9.0/"
        });`

I found a similar issue here ( #79 ), but I'm not using the useEntityNames parameter.

Thank you

[2020-11-26 14:55] Suxsem commented on #80
I found the issue!

I was searching through the library code when I found this line:
https://github.com/AleksandrRogov/DynamicsWebApi/blob/ba89c665a55964e7d02cbc3ce470319da0b6551e/dist/dynamics-web-api.js#L1612

that contains this regex: /^(<fetch)/

The problem was that my fetchXml string actually started with a new line! I removed the starting new line and now it works.

Maybe you can think abou

[2020-11-26 15:28] Suxsem commented on #80
Umh, something else is wrong.

Now i get the @Microsoft.Dynamics.CRM.fetchxmlpagingcookie annotation in the response but the method always returns 5000 record.

What can i try?
Thank you

[2020-11-26 15:48] Suxsem commented on #80
I think there is something wrong with concurrent requests when one of them is a fetchAll.

Basically, when a fetchAll (with more then 5000 records returned) is running, if you concurrently fire another fetch the results get corrupted.

To reproduce the issue just make one fetchAll (with a fetchxml you expect to return like 20000 records or more) request followed by a normal fetch, without any "the

[2020-11-26 16:42] Suxsem opened #81 "When requests exceed 2000 chars an array is returned"
I understand that when a request exceed 2000 characters is automatically transformed into a batch request, howevere the response is an array which the first object is the actual response.

At the moment I'm using this strategy for my fetches:

[code]

I think it may be useful to automatically do that at the library level

[2020-11-27 10:10] ThePridestalker opened #82 "Uploading files to attachment fields"
Is there an easy way to do it through the api?

[2020-11-27 14:44] AleksandrRogov commented on #82
@ThePridestalker yes, just create an `annotation` entity with `documentBody` where you encode your document/file. it's going to be pretty much the same as here: https://www.cloudfronts.com/create-notes-attachment-using-webapi/

[2020-11-27 15:45] ThePridestalker commented on #82
Can you exemplify with your library? I'm new to the whole microsoft environment and I'm using your library to get some abstraction.

My company uses powerapps, and I need to attach a file (in my case .json file) to an entity, and retrieve its data. I'm using your library for uploading and retrieving the odata json, but I dont see how can I upload files.

The cloundfronts link encodes an img as bas

[2020-11-27 15:58] AleksandrRogov commented on #82
[code]

[2020-11-27 16:04] AleksandrRogov commented on #82
If you want to do it all in a single request, you will need to use batch request.

[code]

[2020-11-27 16:16] AleksandrRogov commented on #82
I've just noticed that you are using a file field. Unfortunately, I have never worked with the new File and Image fields, so I cannot give you an answer how it works at this moment. I will need some time to test it in my environment.

[2020-11-28 20:18] AleksandrRogov commented on #81
@Suxsem could not reproduce it. Both times the response was an object and the results were inside a `response.value` array. I ran the following requests:

[code]

[2020-11-28 20:43] AleksandrRogov commented on #81
@Suxsem ok, it seems like this issue is related to the one that you reported here #80. something goes wrong when the requests run in parallel.

[2020-11-28 22:20] AleksandrRogov commented on #81
Closing this one, because it's directly related to #80

[2020-11-28 22:20] #81 closed

[2020-11-28 22:25] AleksandrRogov commented on #80
Yes, I found a concurrency issue in the library, even with new `DynamicsWebApi` objects. I'm working on a solution.

[2020-11-29 15:11] Suxsem commented on #80
Great, glad you can reproduce it. Thank you for your time! Please don't hesitate to ask me if you need other information or if you want me to test something.

[2020-11-29 23:36] #80 closed

[2020-11-30 00:46] AleksandrRogov commented on #82
Currently, it's not possible to upload or download files from File Fields using `DynamicsWebApi`. I am working on adding this functionality in the next `1.7.0` release. Thank you.

[2020-11-30 01:00] AleksandrRogov commented on #80
@Suxsem I fixed the issue. Let me know if the new patch does not fix the issues you reported.

[2020-11-30 08:16] Suxsem commented on #80
Thank you for your effort, I will try it right now

[2020-11-30 09:11] Suxsem commented on #80
Hi @AleksandrRogov it's working great, thank you!

[2020-11-30 09:25] ThePridestalker commented on #82
Thanks you too for the awesome work. Do you have an ETA on `1.7.0` ?

[2020-12-01 04:27] AleksandrRogov commented on #82
@ThePridestalker before the end of this week 100%, most probably on Saturday. I hope it's ok for you.

[2020-12-01 09:57] ThePridestalker commented on #82
@AleksandrRogov Saturday is okay for me 👍

[2020-12-03 09:59] ThePridestalker commented on #82
I don't know if there will be any difference with the file type, but in my case, I need to upload a json. A coworker sent me an example using patch request to ODATA, and he basicly sends the json in the body with a 'x-ms-file-name' header indicating the name of the file.

[2020-12-03 14:05] AleksandrRogov commented on #82
@ThePridestalker yes, that's what I am implementing in the library

[2020-12-04 16:51] #82 closed

[2020-12-04 17:28] AleksandrRogov commented on #82
@ThePridestalker the new version `1.7.0` is released and has file upload/download and delete functionalities. Please refer to readme to know more.
Thank you and hope this helps!

[2020-12-07 03:22] jync opened #83 "V2 Timeline & support for MSAL.js"
Just planning ahead. I can see v2 is coming and I can see MS is deprecating ADAL.js. What is DynamicsWebApi's timeline on these items? Is there a way we could preview v2?

[2020-12-07 04:42] AleksandrRogov commented on #83
hi @jync, DynamicsWebApi does not depend on ADAL, it just needs a token. It can even be a custom authentication functionality. So, I am not worried about that.

You can preview v2 in `typescript` branch, it should be visible to everyone. Some parameters and return objects will most likely change but not too much. So, it should give you an idea what to expect from v2.

[2020-12-09 14:52] ThePridestalker commented on #82
Sorry for asking again, but I find this problem when I try to upload a json.

**"Content range is either not valid or size of the payload [37] doesn't match with the chunk size provided."**

I tried making it a buffer with Buffer.from(data) but it doesnt even work, so I did JSON.stringify(data) and when I send it as a string I get that error, else response is undefined after calling dynamicsWebApi

[2020-12-09 18:58] AleksandrRogov commented on #82
@ThePridestalker it must be a Buffer, not string.

[code]

[2020-12-09 18:59] AleksandrRogov commented on #82
@ThePridestalker the response will be undefined. that's normal.

[2020-12-09 19:23] #83 closed

[2020-12-10 10:12] ThePridestalker commented on #82
Oh that's what I didn't know, works perfect now thanks! 👍

[2020-12-14 23:55] ThePridestalker opened #85 "Multi-login REST API question"
Hello again,
I'm working on a REST API that works with DynamicsWebApi, but before we put it online, I have to make sure that people from outer the Azure Active Directory can't do requests.
Is there a way that I can do dynamic logins without the other apps that make requests through my api having to send me their username and password at every request?
[code]
Could you give me a better approach? Ma

[2020-12-14 23:58] AleksandrRogov commented on #85
@ThePridestalker I do not understand your question completely, but it feels like you will need to research it more somewhere else, I am not going to teach you how to make authentication for your application.

[2020-12-15 00:04] ThePridestalker commented on #85
Mmm, the normal way of authenticating is sending the Oauth token in the request, but in this case I'm asking how can I pass the token into the dynamicsWebApi instanciation instead of running the acquireToken function again.

[2020-12-15 05:00] AleksandrRogov commented on #85
@ThePridestalker you can pass any token you want, you can even cache it and use the same token over and over again until it expires, technique is always the same. You have full control over what token you send to DynamicsWebApi. Basically, DynamicsWebApi only requests the token from you by calling "onTokenRefresh" callback, you can return anything you want in that function.

[2020-12-15 13:28] ThePridestalker commented on #85
In the end I found this https://www.npmjs.com/package/passport-azure-ad , which valitdates the token against Azure.
That was mainly my problem, since I didn't know how to verify the token, and this also helped me:

I have no more doubts so I close the issue.

[2020-12-15 13:28] #85 closed

[2020-12-17 03:32] pixelpaulaus opened #86 "DynamicsWebApi with Promises"
Your link to the "ES6 Promises: DynamicsWebApi with Promises."  is a 404 error

[2020-12-17 03:44] AleksandrRogov commented on #86
@pixelpaulaus here's the link: https://github.com/AleksandrRogov/DynamicsWebApi/blob/master/dist/dynamics-web-api.js

[2020-12-17 03:46] pixelpaulaus commented on #86
sorry how would i "require" that at top of my JS file

[2020-12-17 04:39] AleksandrRogov commented on #86
are you using node.js or developing js for a form web resource?

[2020-12-22 14:02] AleksandrRogov commented on #86
Closing this issue, due to inactivity.

[2020-12-22 14:02] #86 closed

[2021-01-05 17:35] MrMoehner opened #87 "Can not get StatusAttributeMetadata/Can not expand navigation property to StatusOptionMetadata"
Hello,

i am trying for more than one day now to process the following request with DynamicsWebApi. This requests works in the browser, if you are logged in (and maybe if you are admin).

https://XXXXXYOURURLXXXX.dynamics.com/api/data/v9.1/EntityDefinitions(LogicalName='opportunity')/Attributes/Microsoft.Dynamics.CRM.StatusAttributeMetadata?$select=LogicalName&$expand=OptionSet($select=Options)

B

[2021-01-05 22:10] AleksandrRogov commented on #87
Hi @MrMoehner ,

Please try the following:

[code]

Or

[code]

Hope this helps!

[2021-01-05 22:12] AleksandrRogov commented on #87
Also you can check this wiki link to see all the parameters for the `retrieveAttributes` function: https://github.com/AleksandrRogov/DynamicsWebApi/wiki/api-classes-dynamicswebapi#retrieveattributes

[2021-01-06 15:01] MrMoehner commented on #87
Hello AleksandrRogov,

thanks a lot for your support, i really appreciate it!!!
Your solution seem to be just right to me, if there was a "OptionSet" property to expand from type "Microsoft.Dynamics.CRM.StatusAttributeMetadata" in the entity "opportunity". But it isnt there, and therefore the "expand" Paramter doesnt work (according to my analysis)

Unfortunately, there is something special, the w

[2021-01-06 15:39] AleksandrRogov commented on #87
@MrMoehner not sure.

Here are the examples of the urls that could help you to figure out what you need to retrieve. All of it can be done in DynamicsWebApi. Let me know what url you need to use and I will help you to make a request using DynamicsWebApi.

http://crmmemories.blogspot.com/2018/05/retrieve-status-reason-metadata-with.html

Thanks

[2021-01-07 12:21] MrMoehner commented on #87
Hello AleksandrRogov,

thanks again for your support.
I have read exactly this blogpost already, it helped me building the URL that worked for me in the Browser. The following URL gives me exactly what i need in my System.

https://XXXXXYOURURLXXXX.dynamics.com/api/data/v9.1/EntityDefinitions(LogicalName='opportunity')/Attributes/Microsoft.Dynamics.CRM.StatusAttributeMetadata?$select=LogicalName&$

[2021-01-07 16:25] AleksandrRogov commented on #87
@MrMoehner I don't understand. I've already given you the sample that will fetch data from that URL, have I not? I am confused.

[2021-01-07 16:33] AleksandrRogov commented on #87
@MrMoehner ah, i see the issue, it was a misstype on my part, sorry. the expand must be an array of objects, i missed an array declaration, here are the working examples:

[code]

Or

[code]

[2021-01-07 21:02] MrMoehner commented on #87
Dear AleksandrRogov,
thank you so much for your help! That finally worked.
Since i am using "expand" already in other requests with a string, i would have never guessed to wrap them in an object.
I really appreciate you support. The package works great anyway!!!

Best regards

MrMoehner

[2021-01-07 21:02] #87 closed

[2021-01-28 10:19] akshdeep30 opened #88 "Unable to execute create and update with different entities in batch request"
Hi Team

I am trying to use create and update with different entities but getting error resource not found
sample code

this._crmConfig.getCRMWebApi().startBatch();

**Request 1**
this._crmConfig.getCRMWebApi().createRequest(addHomeAddress);

**Request 2**
 this._crmConfig.getCRMWebApi().createRequest(addPreviousAddress);

 **Request 3**
  this._crmConfig.getCRMWebApi().createRequest(addPostaladdr

[2021-01-28 15:03] AleksandrRogov commented on #88
@akshdeep30 I would check if you are specifying entity collection names correctly. seems like you have a mistype in one of the entities.

[2021-01-29 04:31] akshdeep30 commented on #88
@AleksandrRogov
The weird part here is that things are working when i am doing it without batch job
below is the code snippet and i am getting success response

const request = {
        key: '0abb1371-ea44-eb11-a812-00224814312f',
        collection: "Contacts",
        entity: {
          tlx_portalcurrentpage: "2",
        }
      };

      this._crmConfig.getCRMWebApi().updateRequest(request).

[2021-01-29 06:21] AleksandrRogov commented on #88
@akshdeep30 which request is failing in the batch? create or update?

also in your last example, collection name should be all lowercase.

[2021-01-29 06:24] akshdeep30 commented on #88
@AleksandrRogov  update is failing in the batch

[2021-01-29 17:04] AleksandrRogov commented on #88
@akshdeep30 I will try to replicate your issue, it will take me some time though.

[2021-01-31 16:51] AleksandrRogov commented on #88
@akshdeep30 i cannot reproduce it, the function works as intended.

[code]

Here's the result:
![2021-01-31_11-46-50](https://user-images.githubusercontent.com/1893650/106391290-92080c80-63ba-11eb-9421-dc1a09ad0f1b.jpg)

[2021-02-05 01:01] AleksandrRogov commented on #88
Closing due to inactivity. If you still have an issue, feel free to post a message here.

[2021-02-05 01:01] #88 closed

[2021-02-17 16:09] nabeelamir-defra opened #89 "https requests failing when using a proxy"
I'm using the dynamics-web-api to make https requests via the squid proxy. The https request works fine when doing a curl command. But I get the following error "The requested URL could not be retrieved".

When the curl command is run in squid I can see:
`225 172.17.0.1 TCP_TUNNEL/200 5122 CONNECT example.com:443 - HIER_DIRECT/40.110.1111.111 -`
Whereas when using the dynamics API I get
` 0 172.17

[2021-02-17 17:40] AleksandrRogov commented on #89
hi @nabeelamir-defra,
I don't use proxies in my day-to-day job, so this change was made by one of my contributors and will be quite difficult for me to test, because I don't have a proxy to test this.

I can try and include "tls" package in there, only the questions is, how do we know if tls is needed during the request?

[2021-02-18 11:06] nabeelamir-defra commented on #89
Hi @AleksandrRogov, thank you for your quick reply! I've created a repo here to demonstrate the issue [dynamics-web-api-proxy-error](https://github.com/nabeelamir-defra/dynamics-web-api-proxy-error). It creates the squid proxy in docker, so you won't have to install it separately.

I guess if the request contains https, then use tls? I think something like axios instead of the http and https node

[2021-02-18 17:53] AleksandrRogov commented on #89
@nabeelamir-defra you are probably right, I'll need to look into rewriting request module for node and replace core http/https  with something better.

[2021-02-20 20:51] AleksandrRogov commented on #89
@nabeelamir-defra I've just replaced http/https with axios, but it still does not work (same error).

Probably because of this issue: https://github.com/axios/axios/issues/925

Any thoughts?

I don't want to commit this (because it's definitely broken) but here's an http.js code for you to test it in your small package.

Just install axios and replace this file: lib/requests/http.js

[code]

[2021-02-22 21:03] AleksandrRogov commented on #89
@nabeelamir-defra I have resolved this issue, had to use "https-proxy-agent" package. I will review the changes and make a patch as soon as possible.

[2021-02-23 10:09] nabeelamir-defra commented on #89
Sorry for getting back to you so late. Did you use the https-proxy-agent with the existing solution or with axios?

Using axios seem to be more robust and require less code. The axios code looks ok (I haven't tested it), but you don't need to configure the proxy.
[code]

axios respects the http_proxy, https_proxy and no_proxy environment variables already. From the docs:
[code]
And the code
https:

[2021-02-23 13:58] AleksandrRogov commented on #89
@nabeelamir-defra I am not going to use axios, because those packages do not require it and I don't want to introduce another dependecy (I've already added 2). Hope it will work for you fine. The patch will be ready soon.

[2021-02-24 01:13] #89 closed

[2021-03-19 11:07] RGnt opened #90 "Dist folder not being delivered"
While installing the dynamics-web-api through npm, the dist folder for web browsers version of scripts is not delivered along with the library.

[2021-03-19 16:38] AleksandrRogov commented on #90
@RGnt I don't include it there on purpose.
You can generate it by running `npm run build` in `dynamics-web-api` folder, therefore you can add that in a build command for your package, if it's needed.
Let me know if it helped (or not).

[2021-03-19 17:28] RGnt commented on #90
Ok, so it was me being dumb/lazy as it used work with older versions.

[2021-03-19 17:28] #90 closed

[2021-03-24 19:21] quantrpeter opened #91 "unable to retrieve records from custom entity"
Hi
  unable to retrieve records from custom entity, it returns below. But it can retrieve record from standard entity, why?

  "dynamicsWebApi.retrieveAllRequest" "Resource not found for the segment"

thanks
Peter

[2021-03-24 22:04] AleksandrRogov commented on #91
@quantrpeter I can only guess, but it seems like the collection name you provided is incorrect.

[2021-03-31 13:03] AleksandrRogov commented on #91
Closing due to inactivity.

[2021-03-31 13:03] #91 closed

[2021-05-05 04:06] nwoodcl opened #93 "Assigning records"
Hi
I was wondering what the best way would be to assign records to a new owner (team/user)? I could not find anything in the documentation.

[2021-05-05 13:50] AleksandrRogov commented on #93
Hi @nwoodcl, you would need to understand how Web Api works, specifically how assigning works, it is the same for all lookups.

Example:

[code]

[2021-05-06 04:10] nwoodcl commented on #93
Thanks @AleksandrRogov
I tried this as per the below but I get a 405

[org]/api/data/v9.1/incidents
UPDATE ERROR: Error: The requested resource does not support http method 'PATCH'.

Code
`var dynamicsWebApi = new DynamicsWebApi.default({ webApiVersion: '9.1' });

            const request = {
                key: props.CaseId,
                collection: "incidents",
                "ownerid@odat

[2021-05-06 05:51] AleksandrRogov commented on #93
@nwoodcl my bad, it should have been, sometimes I don't see what I am typing lol:
[code]

[2021-05-06 06:03] nwoodcl commented on #93
Thanks @AleksandrRogov

I have made the change to the request structure as per your update but still get the same 405 PATCH error.

The new request is now:

[code]

[2021-05-06 21:29] AleksandrRogov commented on #93
@nwoodcl i don't know it does support PATCH request: https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/incident?view=dynamics-ce-odata-9

[2021-05-06 21:43] nwoodcl commented on #93
Thanks @AleksandrRogov
I was more worried I still had the request wrong and it was a false error message due to something else.

I will continue to do some digging then to see if I can do some direct webapi calls in postman etc.

Thanks again

[2021-05-06 21:47] AleksandrRogov commented on #93
@nwoodcl just ran a test in my org and it worked fine:

[code]

[2021-05-06 22:35] nwoodcl commented on #93
@AleksandrRogov Actually simple mistake on my end, the id was not from the primary record, so strange error, I would have thought I would be getting the usual "Incident with id xxx does not exist"

Thanks again for all of your help. fantastic project and very well written!

[2021-05-06 22:35] #93 closed

[2021-05-07 03:34] AleksandrRogov commented on #93
I am glad you found the issue! And thank you so much for your kind words!

[2021-05-18 13:30] kienphong opened #95 "Question: query all stage history changes of all opportunities"
Hi,
is there a way to query all the stage change history change of all the opportunities?

i tried:

[code]
but it only returns:

[code]

i don't see the old values or new values of the history log.

Thansk.

[2021-05-18 22:07] AleksandrRogov commented on #95
Hi @kienphong DynamicsWebApi can do anything what Dynamics 365 Web Api can do. So if Web Api can retrieve audit records, DynamicsWebApi can do that too. I would recommend researching on how to properly get history and audit data in Dynamics 365 using Web Api and I can help you to write those requests using DynamicsWebApi.

Sorry, I did not have a chance to work with audit log, so I don't know the

[2021-05-21 21:21] ramarao9 opened #96 "Question about MSAL"
Hi!

Not an issue but just wanted to check if the newer DynamicsWebApi v2 will use [MSAL ](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node)or ADAL for Node.js?

Thanks!

[2021-05-21 21:24] ramarao9 commented on #96
Closing as duplicate of #83

[2021-05-21 21:24] #96 closed

[2021-05-27 15:07] AleksandrRogov commented on #95
Closing this issue due to inactivity.

[2021-05-27 15:07] #95 closed

[2021-06-18 07:21] pyro-mm opened #98 "fetchxml with top= tag"
When adding the top tag to the fetchxml string <fetch top="1" > I always get the error
"Error: The top attribute can't be specified with paging attribute page"

I just added to line 875
if (pageNumber < 0) replacementString = '$1 ';
When I call executeFetchXml(entityname, sFetchXML, null, -1, null) it seems to work.

[2021-06-19 16:43] AleksandrRogov commented on #98
hi @pyro-mm , I remember I had to include a paging number in every fetch request because I wanted to retrieve a paging cookie and for some reason it was not doing it back in 8.2 without adding a "paging" attribute to fetch xml, I don't know if it's fixed right now, did not test it.

To be honest, I did not take into account the fact that devs can use "top" inside a fetch xml as well. So, I am goin

[2021-06-19 17:25] #98 closed

[2021-06-19 17:30] AleksandrRogov commented on #98
ok. it should be fixed in 1.7.4. let me know if it works for you.

[2021-06-22 08:09] pyro-mm commented on #98
Thank you so much. It works like a charm.

[2021-07-12 20:27] FlandersBurger opened #99 "Setting ownerid when creating an entity"
I'm trying to set the [Team] owner of a lead I'm creating but it is throwing an error when doing so.
It's probably a syntax error but I'm finding very little help online.

[code]

Here's the error I receive:
![image](https://user-images.githubusercontent.com/8195826/125351323-cfcb7280-e314-11eb-9ff7-d5b80f1bb601.png)

[2021-07-13 04:56] AleksandrRogov commented on #99
@FlandersBurger can you please send me the request payload that is being sent by DynamicsWebApi?

[2021-07-13 17:29] AleksandrRogov commented on #99
@FlandersBurger seems like you are specifying an incorrect navigation property. For Owning Team you need to use: `owningteam`.

[code]

[2021-07-13 17:29] #99 closed

[2021-07-13 17:33] AleksandrRogov commented on #99
I am pretty sure you could set `ownerid` without "team" suffix.

[2021-07-26 02:35] donniekerr opened #100 "IoT Alerts"
Thank you so much for creating this!  It has been hell trying to figure out how to use the Dataverse Web API using MSFT's docs! And how to authenticate it. ugh.

Since I'm new to Dataverse, will this msdyn_iotalert work similar to your create record example for a lead?  I assume I use msdyn_iotalert and msdyn_iotalerts for the collection?
https://docs.microsoft.com/en-us/dynamics365/customer-engag

[2021-07-26 03:46] AleksandrRogov commented on #100
hi @donniekerr !
Thank you so much for the kind words! Yes, all field service entities (tables) are treated the same way as the ootb ones. Just provide the "msdyn_iotalerts" in the `collection` property of the `createRequest` and DynamicsWebApi will send a request to create a record of that entity (table).

Just make sure that you have a Field Service solution install that contains that entity.

L

[2021-07-26 16:29] donniekerr commented on #100
Thank you for confirming it should work.
Yes, I've run a lot of Node in Azure Functions.  Works great without having the write any server stuff.  Just drop your code inside an Http Triggered function, which is an async function like shown at top of this code
<img width="1027" alt="Screen Shot 2021-07-26 at 11 28 12 AM" src="https://user-images.githubusercontent.com/41065378/127024860-34e4a0c7-eff7

[2021-07-26 17:26] donniekerr commented on #100
How do you typically setup your D365 for authentication and where do you get the  Oauth url?
var authorityUrl = 'https://login.microsoftonline.com/00000000-0000-0000-0000-000000000011/oauth2/token';

Do you create a user in D365, then register the app in Azure AD?  Do you use that user when you register the app?

[2021-07-26 21:05] donniekerr commented on #100
I found the url under the endpoints in AD.

[2021-07-27 04:03] AleksandrRogov commented on #100
Cool! I actually did not know that you can use Node.js in Azure Functions, I always assumed it should be a .NET app.

And yeah, pretty much you just create an app in Azure AD and grant access to Dynamics 365. Here are helpful links:
https://d365demystified.com/tag/azure-app-registration/ (until xrmtoolbox connection)

or here is an example using Dynamics 365 Application User (recommended, does not

[2021-07-27 14:26] donniekerr commented on #100
Yes, and I've run Python in functions too. MSFT finally got out of their .Net box so I like them again. :)
Thanks for the tip!

[2021-08-03 18:10] kbharti opened #101 "Error 429- Number of concurrent call exceeded"
Hi,

Thanks for creating this powerful library.
I am using it widely across my application.
However, I have started facing one issue recently.
It is when the number of concurrent calls exceeds the dynamics limit (52 in my case), there is an error thrown (with error code 429) and it is not handled.

Can I request something that can resolve this (either by adding a retry logic within the library, or

[2021-08-03 22:35] AleksandrRogov commented on #101
Hi @kbharti ,

It's a common issue with Dynamics 365 Web Api for big applications.
Unfortunately, I will not be doing a retry call, this logic must be done by the developer who uses the api.

I am pretty sure I am passing all necessary data inside the error object, so you could catch it and make a retry logic that is needed for you. Let me know if something is missing.

Here's more info on how to

[2021-08-03 22:36] AleksandrRogov commented on #100
I am closing this issue due to inactivity.

@donniekerr if you still haven't resolved your issue, let me know in the thread and I will reopen it. Thanks.

[2021-08-03 22:36] #100 closed

[2021-08-16 18:24] AleksandrRogov commented on #101
Closing this issue due to inactivity. If you have any question please feel free to ask them even if the issue is closed.

[2021-08-16 18:24] #101 closed

[2021-10-01 01:17] FlandersBurger opened #103 "Duplicates created in CRM but no indication in the code/logs"
When leads are created through the api, duplicates are created in CRM. There is no indication in the logs that the duplicates were created at all. I don't know where to look, everything seems to suggest only one was created until I look in CRM. I have confirmed the below code is only executed once.
Note that the forms are triplicated too

Code:
![image](https://user-images.githubusercontent.com/81

[2021-10-01 03:49] AleksandrRogov commented on #103
Hi @FlandersBurger ,
I don't really see DynamicsWebApi used here. Are you wrapping it in your class?
To be honest, I use my library in wide range of projects and never had an issue with the duplicates. I would suggest you to try and use the DynamicsWebApi object without a helper to see if the issue is indeed inside the library.

Let me know what you find.

[2021-10-01 04:16] AleksandrRogov commented on #103
Also, I would suggest making your calls with `duplicateDetection = true` (if you don't do that already). I think, the duplicate detection is not getting executed by default.

[code]

[2021-10-01 17:30] FlandersBurger commented on #103
Thanks, I'll try this and see what happens. The helper just points to dynamicsWebApi.create, I'll elaborate the code if duplicateDetection doesn't work!

Thanks again.

[2021-10-05 17:36] memersond opened #104 "Intermittent Request Failure"
I am attempting to use the API in a shared serverless environment (Azure Function App). Very rarely, a create/update request will fail giving the following error:

![image](https://user-images.githubusercontent.com/12886178/136068478-2e5a9769-da2c-4ca7-b145-2f93bb424c47.png)

I'm not quite clear on what the error means, but I am wondering if it could have something to do with functions authenticat

[2021-10-06 04:09] AleksandrRogov commented on #104
@memersond I don't really see all the details here. Could you log the whole error object? It should include HTTP Status, Status Message, Status Text and the Headers. Right now I only see an error message (which is very strange, I've never seen that one before) and a stack which is helpful but not quite in this situation.

Another question, does it fail in a batch request or a normal request?

[2021-10-07 16:49] #103 closed

[2021-10-07 21:25] AleksandrRogov commented on #104
All good! Thanks for letting me know. Also, feel free to re-open the ticket if you have more issues with this.

[2021-10-27 19:07] hugoLarrousse opened #105 "[POTENTIAL BUG] client_secret is missing"
Hello Aleksandr,

First of all, thank you for this library which greatly facilitates the interconnection with Microsoft Dynamics.

I am new to the dynamics environment so I hope what I say next is correct.
I wanted to use the `acquireTokenWithUsernamePassword ` method for authentication. Unfortunately I got the following error:

`Token has not been retrieved. Error: Error: Get Token request return

[2021-10-28 14:10] #105 closed, assigned to nobody

[2022-03-06 17:12] przemos opened #107 "MSCRM.BypassCustomPluginExecution : true"
Hi,
is there any way to set MSCRM.BypassCustomPluginExecution : true header with the library ? If not, would it be possible to add that option in ?

Thanks

[2022-03-06 22:45] AleksandrRogov commented on #107
hi @przemos, I can add in the next patch.

Are there any other flags that you know that are missing?

[2022-03-14 18:41] #107 closed

[2022-03-30 03:17] pixelpaulaus commented on #83
anyone have some examples of using the new msal-node? i cant get it to work

[2022-03-30 15:53] AleksandrRogov commented on #83
@pixelpaulaus sorry forgot to ping, my reply is above.

[2022-03-31 02:53] pixelpaulaus commented on #83
that help a great deal, thanks

[2022-03-31 03:06] AleksandrRogov commented on #83
glad it helped!

[2022-04-30 01:41] memersond opened #112 "Batch Requests - Opportunity for enhancing documentation."
While trying to implement atomic batch operations, I ran into several difficulties. I finally ended up getting it working, but I found 4 inconsistencies that caused confusion for me.

1. You cannot set returnRepresentation to true inside the requests. I did not see any mention of this being the case and the error message simply said 'Error' when I tried it. Took some trial and error to figure out,

[2022-04-30 17:11] AleksandrRogov commented on #112
@memersond thank you so much for taking time and writing this issue! this is actually a perfect place to post it. many things could have changed since I have developed and tested the library (regarding CRM limitation and returnRepresentation), so I will need to test the batches again and see if they still work as they worked back then, they could have been patched or got new bugs.

It would be awe

[2022-04-30 17:30] memersond commented on #112
I was not testing on the same data set in the docs, but I would happy to show the code I was using:

[code]

The code is working for me as shown above. The first 2 issues I list can be reproduced by implementing the commented lines in the request objects and/or entity objects.

Number 3 can be observed just by running the working code and printing out 'result'.

On Number 4: I was able to verify t

[2022-05-06 13:39] nabeelamir-defra opened #113 "Future Enhancement - countAll (RetrieveTotalRecordCount)"
I saw in this package there is a workaround to count all records in a collection. The method
[RetrieveTotalRecordCount](https://stackoverflow.com/questions/51543802/counting-all-rows-in-dynamics-crm-online-web-api-odata) can be used instead. The request looks something like this
https://<your api url>/RetrieveTotalRecordCount(EntityNames=['accounts'])

[2022-05-06 14:03] AleksandrRogov commented on #113
@nabeelamir-defra thank you! is it a new one? I did not know it was there. I will implement this for sure!

[2022-05-06 14:06] nabeelamir-defra commented on #113
I think it has been there since 2019, but I only just spotted it now!

[2022-05-25 04:05] pixelpaulaus opened #114 "oDataNextLink examples"
Hello,
Just wondering if you have any examples of using oDataNextLink returned values to fetch the next lot of records?

[2022-05-25 04:23] AleksandrRogov commented on #114
@pixelpaulaus there's the 2nd parameter in `retrieveMultipleRequest` where you pass the `oDataNextLink` to retrieve the next page.
Here's a page from the [Wiki](https://github.com/AleksandrRogov/DynamicsWebApi/wiki/api-classes-dynamicswebapi#retrievemultiplerequest-1)

So it should be something like this:

[code]

[2022-05-30 14:51] AleksandrRogov commented on #114
Closing this.

[2022-05-30 14:51] #114 closed

[2022-07-15 20:37] AleksandrRogov commented on #112
hi @memersond ,
I have finally found some time to investigate this, sorry for such a big delay. Here are my findings:

1. You can set `returnRepresentation` to true in the requests, **unless** you are trying to link this record with another record in the same request. Thus, `returnRepresentation: true` will work in your example if you comment out `"msemr_CarePlan@odata.bind": "$1"` in the entity r

[2022-07-20 23:20] AleksandrRogov commented on #113
I have decided that I am not going to implement this, because the returned data is from a 24h snapshot, thus, the count that will be retrieved is not up to date (which is a breaking change).
Also this calculation can be simply executed with `executeFunction` function if needed:
[code]

[2022-07-20 23:20] #113 closed

[2022-08-16 11:45] sriharikrishna33 opened #116 "adal-node To @azure/msal-node"
Dear @AleksandrRogov I like this lib like anything.

Can you migrate adal-node to msal-node

[2022-08-16 13:13] AleksandrRogov commented on #116
@sriharikrishna33 the library does not depend on neither adal-node or msal-node, you can use any authentication library you want. For msal-node example, you can look at this issue #83 .

[2022-08-16 13:13] #116 closed

[2022-08-20 13:50] AleksandrRogov commented on #112
Closing this due to inactivity. If you have any question about batch requests, you can still message here.

[2022-08-20 13:50] #112 closed

[2022-08-26 12:33] m1c43L opened #117 "I feel like the intention here is to use `replaceAll` rather than `replace`"
https://github.com/AleksandrRogov/DynamicsWebApi/blob/2866b41da48d38ff33683b9b3eed3cff82977bab/lib/helpers/ErrorHelper.js#L145

This is cause a buggy behavior when we are doing something like ``key=${JSON.stringify(value)}``. It would only replace one of the double quote to single quote causing the line below it to throw.

[2022-08-26 16:57] AleksandrRogov commented on #117
@m1c43L true.

[2022-08-26 16:58] AleksandrRogov commented on #117
going to replace it with a regular expression

[2022-08-29 16:15] #117 closed

[2022-10-14 09:32] bmutafov opened #121 "$filter in operator not supported?"
I try to query using filter like this: `_new_assignment_value in ('<id1>', '<id2>',... )` and I get the following error message:

[code]

Is that something coming from the Dynamics API not supporting the `in` operator, or the library does not?

[2022-10-14 12:44] AleksandrRogov commented on #121
@bmutafov the error is coming from Dynamics. There is no "in" operator in the filter, but there is a function [Microsoft.Dynamics.CRM.In](https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/reference/in?view=dataverse-latest).

I haven't yet implemented the parameter aliases in the query (I have added them but haven't pushed the patch yet), so use it the following way:

`?$

[2022-10-16 09:29] sriharikrishna33 opened #122 "Expand property is not working on updateRequest operation"
Hello Team,
I am doing updateRequest with expanding some properties but it is throwing error please check below error

The entity with a name = '****' with namemapping = 'Logical' was not found in the MetadataCache. MetadataCacheDetails: ProviderType=Dynamic, StandardCache=True, IsLoadedInStagedContext = False, Timestamp=11033226, MinActiveRowVersion=11033226, MetadataInstanceId=11762011, LastUpda

[2022-10-17 12:53] AleksandrRogov commented on #122
@sriharikrishna33 looks like you specified an incorrect entity name somewhere in the request and Dynamics cannot find it.

[2022-10-19 09:15] sriharikrishna33 commented on #122
Dear @AleksandrRogov I added correct entityName it is working for createRequest but not working with updateRequest

[2022-10-19 14:12] AleksandrRogov commented on #121
Closing due to inactivity.

[2022-10-26 14:27] AlexDraeger opened #123 "Readme Fix"
Hi there,

just started using your library and spotted a small mistake in your readme.
Section: [https://github.com/AleksandrRogov/DynamicsWebApi#dynamicswebapi-for-nodejs](url)
Try-Catch-Block:
[code]
should renamed to const response.

Just a small change which i want nonetheless mention.
Thanks for your work! :)

[2022-11-03 16:31] AleksandrRogov commented on #122
Closing due to inactivity.

[2022-11-03 16:31] #122 closed

[2022-11-14 16:16] MrMoehner opened #125 "How to filter for Multi-Select Option Set field?"
Hello,

i want to query an entitiy that contains a Multi-Select Option Set field.
A request without filter works fine.
I tried all different filter options that are described here.
https://learn.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/multi-select-picklist?view=op-9-1

**Equal**
collection=products&filter=businessareatypes eq '100000000' works, but only for entries

[2022-11-15 03:28] AleksandrRogov commented on #125
I am sorry, but the **Issues** on Git are related to the issues with DynamicsWebApi. This is not a forum for general Dynamics 365 questions. Please ask this question on StackOverflow or Dynamics forums.
Also check out this one: #121 .

[2022-11-15 03:28] #125 closed